[2018-02-20 03:17] lwasser opened #1 "history is lost"
hey @choldgraf i moved the earthlab module over here! i had attempted to preserve the entire history but that didn't work. I may try again but let me know if you think that history is imperative!

[2018-02-20 03:19] choldgraf commented on #1
IMO it's OK to lose history...it'll still exist in the old repo anyway

[2018-02-20 13:31] lwasser commented on #1
Ok! I may try one more time just to be able to do it BUT i'm with you. We have it in the other repo!

[2018-02-22 02:31] #1 closed

[2018-04-18 17:54] lwasser opened #2 "Normalized diff function - What order would a user expect the bands to be in?"
Currently we have  a `normalized_diff()` function which calculated norm diff of 2 bands.
It's nice and generic in that it can be used on ANY raster data BUT question

1. is the band order what a user would expect? i think it's the OPPOSITE of what i taught in my R class.
2. the name could be shorter. SHould i rename it to `norm_diff()` ?

hey @mbjoseph @joemcglinchy @jlpalomino have a look at the

[2018-04-18 19:13] lwasser opened #3 "Plot Individual Bands Function"
Make this a function to plot each band in a stack. it's way too much for to plot it as it is now.

inputs
1. number of colums??
2. n dimensional numpy array
3. optional - cmap to use??

[code]

[2018-04-19 22:16] lwasser opened #4 "Potential envt issues"
not sure if this is a thing yet or not but...
[code]

[2018-04-20 20:37] lwasser commented on #3
this function has been built. because of the ongoing testing there are a slew of commits associated with it starting here:

f7cdc197bb13e92d4cbdb78f8c07237997e96e96

closing this for the time being. the function seems to work properly for 1 or more bands.

[2018-04-20 20:37] #3 closed

[2018-04-20 20:38] lwasser opened #5 "make a plot_hist function"
Currently a bit of looping is required to plot a bunch of histograms in a raster stack
[code]
Create a small function to handle hist plotting without all of the loops. it's just better that way.

potential arguments:

* bins
* color(s)
* title(s)
* figsize (it's stupid for me to provide 2 arguments. i should just have [a,b] and call each at the correct index in the function

** i wonder if i could

[2018-06-29 19:07] lwasser opened #7 "week-08 homework - download no longer needs to exist in dict"
remove it. replaced with cold-springs-fire

[2018-09-04 18:22] lwasser opened #8 "Docs Docs Docs - We need docs"
We have none. and we desperately need to begin documenting this package. This is the start of this effort...

1. setup readthe docs account
2. setup docs folder
3. hopefully @betatim can help us with an autobuild for this to make life easier!
4. maybe @jlpalomino  can help me and we can get maybe joe even to pitch in to help with just a  bit of documentation? or an intern could do this too?

[2018-09-11 13:47] betatim commented on #8
Do you want to pick a name for the read the docs subdomain we want to use? I'd suggest `earthpy`.

Once we have that I can get the basics setup on RTD and in the repo.

[2018-09-11 14:02] lwasser commented on #8
hey @betatim  are you back? i haven't wanted to bother you. i have so many questions.
earthpy.readthedocs.io? that sounds good to me.
I'd really like to understand how to setup an auto build.
I also am having some docker image issues with my ea-hub and wanted to figure out how to test things. hoping you can help me not make bad decisions.

[2018-09-27 05:17] lwasser commented on #8
heya @betatim --
I made this commit ... is travis setup to build the docs? Or can you kindly help me understand how the docs are built and how i would setup travis if it's not in place?

https://github.com/earthlab/earthpy/commit/dbb5c8fc3e6483c0a6de22376a26bc02f8b5b3e6

I pretty much want what we have for hub-ops!

I just noticed that this page did actually update. So is it the case that travis i

[2018-09-27 05:33] betatim commented on #8
Correct. Travis doesn't get involved as RTD notices when something changes and rebuilds the documentation for us.

[2018-09-27 05:41] lwasser commented on #8
awesome. thank you so so much @betatim  . it's working i just didn't understand what was going on.

[2018-09-27 05:58] betatim commented on #8
A case of being so deep into the tech side of things that I didn't even realise that not everyone knows RTD and its magic inside out :)

Just now I did add a PR to get travis involved (#11). This is purely to get us a build of the docs during a PR so we can see if the docs build or not before merging a PR. There are however (😢) cases when travis will succeed and RTD fails (super rare but does seem

[2018-09-27 06:17] lwasser commented on #8
ok!! so i'll stop being silly and commiting directly to master :0 that sounds great. yes i've seen read the docs and i've contributed a bit to geopandas docs but never actually used it! seems like a great site for documentation.

[2018-10-09 23:37] lwasser commented on #8
I believe that we now have docs and just need to continue to work on them! i will close this for now but if there is any reason to reopen, please do!

[2018-10-09 23:37] #8 closed

[2018-10-09 23:37] #7 closed

[2018-10-11 01:35] lwasser commented on #5
this has been implemented!!

[2018-10-11 01:35] #5 closed

[2018-10-15 21:48] mbjoseph opened #19 "Finding a home for earthpy's dependencies"
Currently this repo contains an environment.yml file that is very similar (but not identical) to the [`environment.yml` file](https://github.com/earthlab/earth-analytics-python-env/blob/master/environment.yml) for the earth analytics class conda environment.

But, this package has dependencies that aren't needed for the class, and the class has dependencies that aren't needed for this package. One

[2018-10-16 06:34] betatim commented on #19
As a user of this package I would expect `pip install earthpy` to take care of installing all the dependencies (except for non Python packages). This means the dependencies should be listed in `install_requires`.

For dependencies that can't be installed by `pip` (non Python packages) there are usually instructions in the `README` and a check in `setup.py` to try and determine if those dependencie

[2018-10-17 22:28] lwasser opened #22 "plot_rgb and masked numpy arrays -- BUG"
Currently there is a "Feature" in numpy where if you mask an array with no actual maskable values you get a pseudo mask array. Now... this breaks plot_Rsb...more later

[2018-10-18 01:53] lwasser commented on #22
fixed!!  https://github.com/earthlab/earthpy/pull/23

[2018-10-18 01:53] #22 closed

[2018-10-18 01:54] lwasser commented on #19
@betatim can we use conda-forge rather than pip for dependencies? can that be specified? i am asking because of the known errors with pip and spatial libraries.

[2018-10-18 01:55] lwasser opened #24 "code cov?? whahhhhhhtttttt?"
@mbjoseph can you tell me what code cov is testing for? pretty please. i haz needz clarificationzzzz.

[2018-10-18 01:55] #4 closed

[2018-10-18 03:39] mbjoseph commented on #24
Codecov is measure the coverage of the unit tests, e.g., what fraction of code is executed in the process of running the tests (more here: https://en.wikipedia.org/wiki/Code_coverage). Currently  coverage is very low, since we're not actually hitting any of the meaningful code in the package (e.g., the code inside of our class and function definitions).

[2018-10-18 15:27] lwasser opened #26 "draw_legend is not ready to use"
Currently there is a draw_legend function that is supposed to make creating a nice legend for a plot easier. However as it is built, it's not general enough to use consistently.

I think i should remove it for the time being until it's fully tested but just noting here that right now it's in the package and really does not work.

[2018-10-18 17:18] mbjoseph commented on #24
@lwasser there is some coverage because we import earthpy in the unit tests. To see what lines are being run you can go here: https://codecov.io/gh/earthlab/earthpy/tree/master/earthpy

So, we are running all of `__init__.py` and then essentially just defining our functions and methods in the `io.py`, `spatial.py`, and `utils.py`, but if you go to see what lines within those scripts are being run

[2018-10-22 15:30] lwasser opened #27 "Add Contributing & Code of Conduct file s to EarthPy"
Let's follow the rasterio model and add a contributing file to earthpy. I think we can start with their exact file and can adapt/ adjust it as we go.

- [ ] code of conduct file - example - https://github.com/mapbox/rasterio/blob/master/CODE_OF_CONDUCT.txt
- [x] contributing file

[2018-10-22 15:31] lwasser opened #28 "Add data to unit test folder"
Currently we do'nt have any data to implement unit testing on. However given the nature of the packages that we are using, we should have some data to test against. Let's follow the rasterio model and add a small data subset to be used to testing purposes in earthpy.

[2018-10-22 18:42] lwasser opened #30 "Earth Py should be one word in the readme file"
In the readme.md file, earth py is spelled with two words rather than one. I'd like to propose this fix.

[2018-10-22 19:39] lwasser commented on #30
This change has been implemented. Please see this pull request
https://github.com/earthlab/earthpy/pull/32

[2018-10-22 20:34] lwasser opened #33 "Write ".tif" generator function - aka the raster iron"
## Create a tif generator which would have

1. array
2. number of bands

## Outputs
1. geotiffs

[2018-10-22 20:43] lwasser opened #34 "Write Unit Test & Update Asserts for crop_image"

[2018-10-22 20:49] mbjoseph opened #35 "Delete scale_range"
We don't need this any more! Yay.

[2018-10-22 20:52] lwasser opened #36 "Fix colorbar function"
Currently the colorbar function is supposed to match the height of a plot. This works but it also now covers up the entire plot horizontally...

SO Question: https://stackoverflow.com/questions/53121012/matplotlib-color-bar-height-equals-image-in-matplotlib-v-3-0-python-3-x

[2018-10-22 20:57] lwasser opened #37 "Create Google Doc with a list of functions and current status for tracking"
* cleanup of old functions
* google doc ...

[2018-10-22 20:58] lwasser opened #38 "unit tests for extent_to_json"

[2018-10-22 20:59] mbjoseph opened #39 "Write unit test for bounding box JSON generation"
https://github.com/earthlab/earthpy/blob/d2c1e31ebb6915ce281ea4b5af524511272abb70/earthpy/spatial.py#L16

First test for an example.

[2018-10-22 21:14] #38 closed

[2018-10-22 21:16] lwasser opened #40 "Move data download module & generate posts helper functions from earthpy to new stand alone package"
Currently there are a suite of helper functions that are specific to earth analytics courses and website build. Create a separate module that handles these tasks so earthpy scope remains focused on spatial and remote sensing data only.

[2018-10-23 01:36] lwasser commented on #35
This has been implemented with this pr

https://github.com/earthlab/earthpy/pull/41

Thanks @mbjoseph
please reopen if you see any issues.

[2018-10-23 01:36] #35 closed

[2018-10-23 01:39] lwasser commented on #24
ok i think i follow now @mbjoseph  i'll close this for the time being because we are about to get a bunch of PR's from students but will reopen if i have more questions!!

[2018-10-23 01:39] #24 closed

[2018-10-23 02:55] lwasser opened #43 "testing"

[2018-10-23 02:55] #43 closed

[2018-10-23 15:54] joemcglinchy commented on #2
https://github.com/earthlab/earthpy/blob/9a4fc7cd765152b727a8d59834623d72f0ac9d1e/earthpy/spatial.py#L43

I think the doc is perfect, but the order of the arguments should be reversed. I think this is more intuitive since b2 comes first in the numerator and denominator for the normalized difference equation.

[2018-10-23 20:18] joemcglinchy commented on #33
see PR #45

I edited `test_spatial.py` to add a couple of helper functions to support:

creating 3D arrays where the pixel value for each band is the number of that band createArray
writing a 3D array to a GeoTIFF file on disk

However, seems a few checks didn't pass, so please have a look!

[2018-10-24 02:01] mbjoseph commented on #34
Note to whoever writes these tests, please consider the edge case of cropping using an extent that is just a point (with zero area), e.g., something like the result of

[code]

For completeness, there is also the edge case of when the extent is a line, e.g.,

[code]

[2018-10-24 02:28] lwasser commented on #39
I believ that this has been IMPLEMENTED and can be closed! closing but please do re-open if it should remain open @mbjoseph

[2018-10-24 02:28] #39 closed

[2018-10-24 15:49] mbjoseph commented on #2
I wouldn't have any strong prior expectations for the ordering of bands for a function like this.

[2018-10-24 15:57] joemcglinchy commented on #2
it is more subjective... as long as the doc is clear on which bands go where in the equation, which I think it is. seeing the equation (b2 - b1) / (b2 + b1), implies to me, that the the args should come in as b2 and then b1, but that's a little weird since it sounds like you're counting backwards and we read left to right.

[2018-10-24 20:02] lwasser opened #48 "Update spatial.py module to use pep8 and add crop_image docs"
## Identify the Documentation Element That You Propose to Update
* I would like to update the spatial.py module to use pep8 syntax. I plan to capitalize  all of the comments, fix spacing and reorder imports following contributing guidelines.
* i would also

## Please Identify Your Proposed Changes Below

[2018-10-24 20:49] mcshanec opened #49 "Add missing doc strings to the clip_points and clip_line_poly functions"
## Identify the Documentation Element That You Propose to Update
I would like to add documentation to two functions: clip_points and clip_line_poly. Currently there is no documentation describing the functions or the arguments. Both files found in clip.py.

## Please Identify Your Proposed Changes Below
I would like to add a description of the function and a description of each argument in each fu

[2018-10-24 20:50] #48 closed

[2018-10-24 20:51] mlevis1 opened #50 "Docstring documentation missing from clip_shp and RST documentation missing for clip_points"
## Identify the Documentation Element That You Propose to Update
clip_shp function in clip.py needs documentation, and clip_point function needs RST documentation.
## Please Identify Your Proposed Changes Below
Add docstring documentation to clip_shp and remove commented out code from crop_image

[2018-10-24 20:54] willskor opened #51 "Adding new argument to spatial-raster.rst and changing comments in Spatial.py to PEP8 format"
## Identify the Documentation Element That You Propose to Update
1. the spatial-raster.rst file is missing a parameter.

2. Spatial.py has a lot of code that needs to be put in PEP8 format. Comments don't start with capitalized first letter, some comments are notes to other contributors and should be rephrased to be a "to do" instead of a comment to oneself.

## Please Identify Your Proposed Chang

[2018-10-24 20:55] katysill opened #52 "Reorder the libraries in utils.py and delete commented out code from _init_.py"
## Identify the Documentation Element That You Propose to Update
utils.py is not following pep8 conventions in regards to the order of imported libraries.
There is some code that has been commented out in \_init_.py.

## Please Identify Your Proposed Changes Below
I will reorder the order of libraries being imported in utils.py following pep8 conventions.
I will delete the commented out code from

[2018-10-24 20:56] annaspiers opened #53 "(1) Remove commented shp_sub line from earthpy/clip.py & (2) add .DS_Store to .gitignore file"
### Issue 1
## Identify the Documentation Element That You Propose to Update
Line 32 in earthpy/clip.py defines `shp_sub`, but is commented out with an alternative line of code below that defines object.  This commented out line will not be used and should be removed (penultimate line below)

    # Get a list of id's for each road line that overlaps the bounding box and subset the data to just tho

[2018-10-24 20:57] shwh2628 opened #54 "Spatial.py edit documentation and import libraries to pep8 guidelines; suggest code edit for normalized_diff & stack_raster_tifs"
## Identify the Documentation Element That You Propose to Update
Edit the documentation to match pep8 guidelines and rearrange the import libraries to follow pep8 guidelines wherein more general libraries are listed first and more specific libraries after.

Also delete comments that seem unnecessary, and add comments to suggest a change to normalized_diff function to make it less confusing

## Ple

[2018-10-24 20:59] wwicherski opened #55 "delete commented out code in io.py, update fix_paths function in documentation"
## Identify the Documentation Element That You Propose to Update
I am going to delete commented code in the io.py section of earthpy and update the fix_paths function section in the earthpy docs
## Please Identify Your Proposed Changes Below
I am going to delete lines 17-19, 25, and 29-30, which are commented-out code

before:
[code]

[2018-10-24 20:59] hdumke opened #56 "[WIP] Add missing comments to hist, hillshade, and draw-legend functions in spatial.py"
Issue 1: Fix capitalization issues throughout spatial.py so that first word is capitalized and there is a space after the pound sign.
Issue 2: Remove extraneous lines that are commented out from io.py

[2018-10-24 20:59] windnage opened #57 "Do .rst documentation for clip_shp function in clip.py and .rst documenation for normalized_diff function in spatial.py"
## Identify the Documentation Element That You Propose to Update
* The .rst documentation for the clip_shp function is missing.
* The .rst documentation for the normalized_diff function is missing.

## Please Identify Your Proposed Changes Below
I propose adding this .rst documentation for both functions identified above.

[2018-10-24 21:01] mirob9363 opened #58 "[WIP] Make a rst for “plot_bands” function and reorder the “spatial.py” import to follow conventional style"
## Identify the Documentation Element That You Propose to Update

## Please Identify Your Proposed Changes Below

[2018-10-24 21:02] mlevis1 opened #59 "Remove commented out code from crop_image"
## Identify the Documentation Element That You Propose to Update
crop_image has commented out code
## Please Identify Your Proposed Changes Below
Delete commented out code from crop_image

[2018-10-24 21:07] nkorinek opened #60 "[WIP] Updating docstrings in io.py EarthlabData class to match updated functionality"
## Identify the Documentation Element That You Propose to Update

Updating the docstring for get_data to match the updated parameters that the function takes.

## Please Identify Your Proposed Changes Below

[2018-10-24 21:08] jlpalomino commented on #49
@mcshanec Your issue has been approved. Once you have made your changes, please submit a pull request (PR) with a tag to this issue.

[2018-10-24 21:09] mcosmos12 opened #61 "Correct spelling, reword content in spatial-raster.rst and Add summary description of earthpy to index.rst"
## Identify the Documentation Element That You Propose to Update

#### spatial-raster.rst
1. Correct spelling in Line 16. Misspelled word in BOLD text:
`All files in the list must be in the same Coordinate **Refenence** System (CRS) and`

2. Reword content to better flow below:

[code]

#### index.rst
3. Add documentation that describes the purpose of this file. It seems to follow Sphinx (Python D

[2018-10-24 21:10] willskor commented on #56
This issue is similar to my issue here: https://github.com/earthlab/earthpy/issues/51
We discussed doing different issues associated with spatial.py.

[2018-10-24 21:16] #56 closed

[2018-10-24 21:19] #59 closed

[2018-10-24 21:19] jlpalomino commented on #52
@katysill Your issue has been approved. Once you have made your changes, please submit a pull request (PR) with a tag to this issue.

[2018-10-24 21:34] hdumke opened #63 "Add documentation for Draw Legend function via rst file / Fix misspelling in stack_raster_tifs function in spatial.py"
## Identify the Documentation Element That You Propose to Update
1. Documentation for the draw-legend function is missing.
2. The word output is misspelled in the stack_raster_tifs function in spatial.py
## Please Identify Your Proposed Changes Below
1. Add documentation for the draw-legend function via an rst file.
2. Fix the misspelling of the word ouput to output.

[2018-10-24 21:38] mgraber opened #64 "Delete depricated data structures in io.py, remove commented #destfile line, and move utils.fix_paths() to io.py"
The utils.fix_paths() has the following comment:

"This should be moved to the new package that handles data download"

Perhaps it should live in io.py then?

[2018-10-25 00:56] lwasser commented on #49
@mcshanec  this is a good issue but in the future place be more specific. As a package maintainer, I am a bit unsure as to whether you are updating docstrings OR the .rst files containing package docs for `readthedocs.io` no addition work needed here as this has been approved already but please try to  be more specific in the future as other projects will ask this of you!

[2018-10-25 01:01] lwasser commented on #53
@annaspiers do you have a second submission as  well somewhere? you should have submitted a proposal for two distinct changes.

[2018-10-25 01:03] lwasser commented on #54
very good start to this issue @shwh2628 . IN the future please consider being a bit more specific. Rather than saying Documentation should begin with a space, specify that you editing comment syntax. And provide an example from the file of the type of thing you plan to change. Please go ahead and implement these changes however via a PR.

[2018-10-25 01:04] lwasser commented on #55
@wwicherski justa note that this is still a [WIP] as labeled. please remove that when you are ready for review.

[2018-10-25 01:05] lwasser commented on #57
great submission @windnage . please move forward with submitting a PR with these changes!

[2018-10-25 01:10] annaspiers commented on #53
Woops, I forgot to keep the WIP at the beginning. Still working on it.

[2018-10-25 01:12] lwasser commented on #63
hi @hdumke do you plan to add docstring updates? I am not sure we need comments within the code for that function but updating the docstring would be useful. Or adding documentation via an rst file would also be useful.

Your second change sounds excellent but please clarify the first change further before moving forward.

[2018-10-25 01:13] lwasser commented on #64
hey @mgraber we are creating a new package for a few functions and that is one of them. Please do not move it! Have a look at the set of suggested changes that i listed in the assignment.  These changes may include adding new documentation, updating doc strings to reflect all of the arguments available etc etc. Please review that and then update your issue with 2 things that you would like to chan

[2018-10-25 01:18] mgraber commented on #64
Do my other two suggestions work? There are lots of commented out lines for the deprecated data structure in io.py

[2018-10-25 01:34] lwasser commented on #64
hey @mgraber please edit your issue to be more specific! so they do. Please in the body of your issue specify exactly what is wrong and what you would like to fix! Part of this issue is submitting a really clear first issue about what you are going to change and in what files. I am not sure what remove deprecated data structures is but the class in io.py is not deprecated . Also please be sure tha

[2018-10-25 02:20] willskor commented on #51
Updated issue 2 to be more clear.

[2018-10-25 15:31] mbjoseph commented on #60
Hello @nkorinek - thanks for opening this issue! This is looking pretty good. Here are a couple of things to think about for the issue and your pull request:

1. In looking at the code for the `get_data` method, it looks like the `name` argument is not needed, because even if it is supplied, the value of `name` would be overwritten here:

https://github.com/earthlab/earthpy/blob/master/earthpy/io.

[2018-10-25 15:34] lwasser commented on #63
ok @hdumke  looking at this is see it  says rst file!  Please go ahead and submit a pull request and flag this issue and me using @lwasser when you do so so i can review it!

[2018-10-25 15:36] mbjoseph commented on #58
Hello @mirob9363! Thanks for opening this issue. See below for some things to think about:

1. Good catch! If you could add a description of the `title` argument to the docstring for the `plot_bands` function, that would be great. In this description, it's worth describing the behavior of the `title` argument when the user passes a string vs. when they leave the argument as `None` (see the code to

[2018-10-25 15:49] mbjoseph commented on #51
Hello @willskor! Thanks for opening this issue. See below for some details:

1. This is great. I am also noticing that the `arr_out` argument is not described in the docstring for `stack_raster_tifs`. https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L71-L78

If you can add a description of what the `arr_out` argument expects and what it does to both the `spatial-raster.rst` file

[2018-10-25 15:51] mbjoseph commented on #55
@wwicherski I will hold off on giving feedback here while `[WIP]` is in the title. When you're ready please remove that, and "@" me in this discussion thread by including @mbjoseph in a comment. Thanks!

[2018-10-25 16:01] wwicherski commented on #55
@mbjoseph

I think this is ready now! Thanks

[2018-10-25 17:56] mgraber opened #67 "Clarify module descriptions in rst AND delete unused file path checks, context managers, and input type checks in spatial.py"
## Identify the Documentation Element That You Propose to Update

1) In get-started.rst, the description of the modules as "Spatial IO Utils", is unclear. It looks like it is one module that has utils for input/output of spatial data.
2) Delete commented out lines in spatial.py. The first two are tests that aren't included in the actual function. The third is unused `with` statement.
- https://git

[2018-10-25 19:19] mbjoseph commented on #55
Hello @wwicherski! Thanks for opening this issue. Issue 1 that you identified sounds great, but issue 2 (documenting `fix_paths`) is already being done in https://github.com/earthlab/earthpy/issues/60. Can you identify a different second fix to make?

[2018-10-25 20:09] willskor commented on #51
Thanks matt, will do!
One last thing. I'm also confused about this comment: https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L65
I'm not sure what it is referring to.

[2018-10-25 20:22] mbjoseph commented on #51
I think you can go ahead and delete https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L65

For https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L441, it would be great if you could replace the existing comment with:

[code]

Thanks @willskor!

[2018-10-25 20:35] lwasser commented on #67
Hey @mgraber  Thank you for this issue!
1. If you plan to update the documentation for the modules list, i think it would be helpful to provide a several sentence summary of what each module does in earthpy. So that would required adding some text for both the spatial and io modules.

2. For the second second set of changes, I would argue that technical ly that code should not be removed, but rath

[2018-10-25 20:49] mbjoseph commented on #67
Heya @lwasser and @mgraber - my 2 cents is that for the purposes of cleaning up the code, it's a good idea to remove these commented out lines of code. Later, when @lwasser and I write the tests for these functions, she and I can figure out the best approach for ensuring that things to break unexpectedly!

[2018-10-25 21:28] mgraber commented on #67
@lwasser and @mbjoseph

For the first unit test,
[code]
you are already checking to make sure the directory path exists in the `stack_raster_tifs( )` function. So any false path should be caught there before calling `stack( )` from within `stack_raster_tifs()`.

For the second, it looks like the if-else statement accomplishes what the test was trying to do.
[code]

 If the data type given is a geo

[2018-10-25 22:12] jlpalomino commented on #61
@mcosmos12 Thanks for your issue. As the assignment is to identify two distinct changes that need to be made, please edit this issue title and comment to include one more proposed change. To count as a distinct change, the second proposed change will need to be something other than a spelling correction. Feel free to let us know if you have any questions.

[2018-10-25 22:18] mcosmos12 commented on #61
@jpalomino Yes no problem. This was done in class yesterday just to participate and follow along. I saw the directions for the assignment yesterday after class. I hope there are more interesting issues to fix! :)

[2018-10-25 22:46] jlpalomino commented on #49
@mcshanec  Very good point by Leah. Apologies for not catching that. It would be great if you could update this title (e.g. Missing docstrings for clip_points and clip_line_poly functions).

[2018-10-25 23:20] lwasser commented on #67
well @mgraber  you are totally right if the dir is teste earlier! but i'm not sure i test for a list . the if statement only tests for a geodataframe i think! i had commented it out when i added the functionality for the  function to allow geodataframes! BUT with that said I do like Max's idea as we have some higher level things to discuss AND i totally appreciate your attention to detail @mgraber

[2018-10-25 23:24] lwasser opened #70 "Add unit tests to Crop_image function"
- [ ] Ensure that crop_image fun is provided with inputs in the right format (assert in the function
- [x] Ensure that the crop_image function raises an error if the incorrect formats are provided
@mbjoseph assigning this to you given today's meeting!

[2018-10-26 00:00] mbjoseph commented on #51
Solved by https://github.com/earthlab/earthpy/pull/68

[2018-10-26 00:00] #51 closed

[2018-10-26 16:55] lwasser commented on #67
Thank you for these changes @mgraber  this issue is now resolved .  it feel free to do so.

[2018-10-26 16:55] #67 closed

[2018-10-26 17:33] andykeeton25 opened #72 "Add .rst documentation for hillshade function in spatial.py AND add .rst documentation for crop_image function in spatial.py"
## Identify the Documentation Element That You Propose to Update
1. .rst file documentation for the hillshade function is missing.
2. .rst file documentation for the crop_image function is missing.

## Please Identify Your Proposed Changes Below
1. Add .rst file documentation for the hillshade function.
2. Add .rst file documentation for the crop_image function.

[2018-10-28 15:50] mikedorfman opened #74 "Update spatial.py to conform to PEP-8 standards and update returns in spatial.py docstrings"
## Identify the Documentation Element That You Propose to Update
1.  Update spatial.py to conform to PEP-8 standards.
2.  Update several docstrings in spatial.py to include/update returned variables.

## Please Identify Your Proposed Changes Below
### Proposed change 1
a. Remove spaces around keyword assignments and adding spaces after commas on the following lines: 138, 170, 174, 175, 250, 282, 3

[2018-10-28 16:46] jlpalomino commented on #61
@mcosmos12 Your issue has been approved. Once you have made your changes, please submit a pull request (PR) with a tag to this issue (and @ to jlpalomino).

[2018-10-28 17:14] tkarfs1 opened #75 "Clean clip.py code AND capitalize comment on line 322 of spatial.py code"
## Identify the Documentation Element That You Propose to Update
1. Clean clip.py code using Pep8 style guide
2. Line 322 in spatial.py is not capitalized

## Please Identify Your Proposed Changes Below
1.  Delete whitespace and improve indent
2. Capitalize markdown line 299 "test" to Test"

[2018-10-28 19:00] wwicherski commented on #55
For my second issue I would like to update the code in io.py to make sure it conforms with PEP 8 formatting
as an example I will change the order of the imported packages to reflect the relative frequency of use and delete the commented out package imports

Current code:

from download import download
import os.path as op
import os
#import matplotlib.pyplot as plt

Proposed code:
import os
import

[2018-10-28 19:30] wwicherski commented on #55
@mbjoseph sorry forgot to tag you

[2018-10-28 23:10] yojihigh opened #76 "(1) Update docstring for cols variable in spatial.py/plot_bands f(x) for spelling and default value and (2) Update formatting of variables in plot_rgb and plot_bands functions."
## Identify the Documentation Element That You Propose to Update
1. [Line 290](https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L290) in spatial.py - fix the spelling error and update to reflect that default is 3 columns if none is specified.
2. Docstrings for plot_rgb and plot_bands have inconsistent formatting of data types for variables and descriptions.

## Please Identify Yo

[2018-10-29 03:46] mlevis1 commented on #50
This change has been implemented. Please see this pull request:
https://github.com/earthlab/earthpy/pull/78

[2018-10-29 14:49] lwasser commented on #72
hey @andykeeton25 please go ahead and submit the PR for this issue. Both items need to be updated!

[2018-10-29 14:54] lwasser commented on #74
hey @mikedorfman Thank you for this issue! This is quite a list of changes! If you'd like to work on all of this you are welcome to but just a heads up that you don't have to do that much for your homework!

Just a heads up that the plot functions should return figure / axis objects! Please be sure to update your fork BEFORE submitting these changes to ensure you have the most recent changes and a

[2018-10-29 14:55] lwasser commented on #72
@andykeeton25 also 2 items
1. please ping me using @lwasser when you submit your PR and
2. please be sure to update your fork before submitting your PR!

[2018-10-29 14:57] mbjoseph commented on #55
Sounds great @wwicherski. When you submit your pull request, please "@" me and I will review the changes. Thank you!

[2018-10-29 14:59] lwasser commented on #75
@tkarfs1 i'm assigning this to @mbjoseph but did want to give you a heads up that i believe spatial.py has been worked on already for PEP 8 and there is a second proposal to work on it here.

https://github.com/earthlab/earthpy/issues/74

so you will need to submit a separate fix for item 1.

To see that this work was done - please update your fork. We will need you to submit another fix given my

[2018-10-29 16:51] lwasser commented on #53
@annaspiers  this looks good. please submit a pull request! I appreciate you updating the gitignore file!!

[2018-10-29 16:52] lwasser commented on #53
don't forget to "tag" me when you submit your PR @annaspiers ! like this @lwasser

[2018-10-29 17:48] lwasser commented on #76
Hey @yojihigh . thank you for this issue. Just a note that you can link to a line of code like[ this](https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L290):
`https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L290`  this is valuable especially given often the code changes as pull requests are merged

Your issue is a bit unclear. Given there are other people updat

[2018-10-29 23:52] mirob9363 commented on #58
This change has been implemented. Please see pull request
https://github.com/earthlab/earthpy/pull/82

[2018-10-30 00:24] jeje1140 opened #83 "Add vignette to normalized_diff (spatial.py) AND add vignette to plot_bands (spatial.py)"
## Identify the Documentation Element That You Propose to Update
1. Add vignette to normalized_diff function in spatial.py

2. Add vignette to plot_bands function in spatial.py

## Please Identify Your Proposed Changes Below

1. Add

`import numpy as np`

  ` import earthpy.spatial as es`

   ` red_band = np.array([[1, 2, 3, 4, 5],[11,12,13,14,15]])
    nir_band = np.array([[6, 7, 8, 9, 10],[16,17

[2018-10-30 00:42] mikedorfman commented on #74
@lwasser Thanks for the note - most of the clean-up was very similar, so it's easier to do it all at once.  Happy to contribute!

[2018-10-30 01:57] #74 closed

[2018-10-30 02:02] lwasser commented on #83
hi @jeje1140  Thank you for this issue!
Please have a close look at the issues that are listed (open ones in particular).

[This pull request](https://github.com/earthlab/earthpy/pull/81/files)
and[ this issue](https://github.com/earthlab/earthpy/issues/55) address what i believe you want to remove. The init file has also been cleaned out. [see here. ](https://github.com/earthlab/earthpy/blob/mast

[2018-10-30 02:03] lwasser commented on #72
closing this issue as this has been complete. Great work @andykeeton25

[2018-10-30 02:03] #72 closed

[2018-10-30 02:57] cstuart7 opened #85 "Add RST documentation to spatial-raster.rst for the functions plot_rgb() and hist() located in spatial.py"
## Identify the Documentation Element That You Propose to Update
1. Add RST documentation to spatial-raster.rst for the function plot_rgb()
2. Add RST documentation to spatial-raster.rst for the function hist()

## Please Identify Your Proposed Changes Below
1.
Plot RGB
[code]

The ``hist()`` function plots a histogram of each layer in a raster stack converted into a numpy array for quick visualiz

[2018-10-30 03:54] lwasser commented on #85
Hi @cstuart7 these items have been covered [in this issue](https://github.com/earthlab/earthpy/issues/55) and this [pull request](https://github.com/earthlab/earthpy/pull/81)

Please pay close attention to existing PR's and issues and update this issue accordingly with 2 unique changes.

[2018-10-30 04:38] cstuart7 commented on #85
@lwasser Corrected one of my changes to not duplicate the other issue that you identified.

[2018-10-30 04:44] lwasser commented on #85
Hi Carmela,

Please read the assignment closely – posted in canvas. Then find 2 changes that each fit into the guidelines below. There is no vector module in the earthpy package so this proposed change is not correct but also does not follow the guidelines below.  There is however a file reserved for documenting functions related to vector data which is the file you mention but you need to work on

[2018-10-30 13:15] #55 closed

[2018-10-30 15:35] lwasser commented on #53
This has been resolved!

[2018-10-30 15:35] #53 closed

[2018-10-30 16:03] nkorinek commented on #60
This change has been implemented. Please see this pull request:
https://github.com/earthlab/earthpy/pull/88

[2018-10-30 16:20] yojihigh commented on #76
@lwasser Updated my proposed changes with additional detail. Please let me know if this makes it clearer!

[2018-10-30 16:52] tkarfs1 commented on #75
Hi @lwasser @mbjoseph can I still capitalize "test" in line [322](https://github.com/earthlab/earthpy/blob/c325d4a07d80df0275c278d1400fde285faf99a7/earthpy/spatial.py#L322)

[2018-10-30 17:06] mbjoseph commented on #75
Hi @tkarfs1! Yes that is still a valid and needed change!

I believe @lwasser wants you to find a second change/fix to propose before moving forward.

[2018-10-30 17:10] mbjoseph commented on #75
Hello @tkarfs1 - yes that is a valid change that still needs doing. However your second change, to document `plot_bands()`, has already been fixed (see the most recent documentation here: https://github.com/earthlab/earthpy/blob/master/docs/spatial-raster.rst#plot-raster-file-bands).

Can you propose an alternative second change to make?

Thanks!

[2018-10-30 17:38] cstuart7 commented on #85
@lwasser Ok, re-did my issue to be better suited to requirements in Canvas.

[2018-10-30 17:53] tkarfs1 commented on #75
Thanks @mbjoseph ! I'll also apply pep 8 standards to the clip.py code. It looks like I can delete some white space in that notebook.

[2018-10-30 18:04] lwasser commented on #57
This has been merged and the issue is now resolved!

[2018-10-30 18:04] #57 closed

[2018-10-30 18:16] mbjoseph commented on #75
Ok sounds good @tkarfs1. When you submit your pull request please "@" me by including @mbjoseph!

[2018-10-30 18:29] lwasser commented on #85
Thank you @cstuart7 . This is a good start.

One point to consider when you submit your pr:

`The ``plot_rgb`` function plots each layer in a raster stack converted into a numpy array for quick visualization.`

The plot_rgb function actually takes a 3 dimensional numpy array that contains image data and plots the 3 bands together to create a composite image. When you submit your PR - please review

[2018-10-30 19:51] lwasser commented on #49
phew! closing this one. Thank you both @mcshanec  @jlpalomino

[2018-10-30 19:51] #49 closed

[2018-10-30 21:41] jeje1140 commented on #83
@lwasser I believe I have found a new issue for the first one.  For the second.. does this require any docstring?

`def __init__(self, path=None):
        if path is None:
            path = op.join(HOME, DATA_NAME)
        self.path = path
        self.data_keys = list(DATA_URLS.keys())`

[2018-10-30 23:17] tkarfs1 commented on #75
This change has been implemented via pull request BUT there seems to be a conflict with the base in relation to deleted whitespace in clip.py

[2018-10-31 00:47] lwasser commented on #76
hey @yojihigh  this is looking very good! please go ahead and submit your PR! please be sure however to UPDATE YOUR FORK first because there have been a lot of changes today! When you submit your PR please ping me for a review. I suggest you try to do this TONIGHT!!

[2018-10-31 00:55] lwasser commented on #83
hey @jeje1140  that def __init__ does not require a docstring in this case. I am also a bit confused as to what your first PR suggestion is.

Here is a suggestion if you are interested. It is nice to have vignettes in docstrings.

[look here](https://github.com/mapbox/rasterio/blob/master/rasterio/__init__.py#L143) to see that rasterio places vignettes in their docstrings! you could add a vignette

[2018-10-31 00:59] jlpalomino commented on #52
This issue has been resolved by this merged PR: https://github.com/earthlab/earthpy/pull/65.

[2018-10-31 00:59] #52 closed

[2018-10-31 01:34] yojihigh commented on #76
Pull Request created to resolve this issue
https://github.com/earthlab/earthpy/pull/94

[2018-10-31 01:47] mbjoseph commented on #75
Nice job @tkarfs1! Thanks for the pull request

[2018-10-31 01:47] #75 closed

[2018-10-31 02:53] jeje1140 commented on #83
@lwasser I have updated my issue

[2018-10-31 02:54] lwasser commented on #83
looks good @jeje1140  please go ahead and submit a pr. When you do, please tag me using @lwasser so i see it was submitted and can review it. Also be sure to UPDATE your fork prior to beginning your edits. Finally please be sure to format the vignette following what i provided as an example with rasterio (or using bytescale in earthpy). Thank you!

[2018-10-31 02:55] lwasser commented on #83
oh finally don't forget to reference this issue when you submit your pr!

[2018-10-31 02:55] lwasser commented on #85
closing this as the PR was merged. Thank you again @cstuart7

[2018-10-31 02:55] #85 closed

[2018-10-31 02:56] lwasser commented on #76
Closing this as the PR was merged. Thank you again @yojihigh

[2018-10-31 02:56] #76 closed

[2018-10-31 15:22] #83 closed

[2018-10-31 15:22] lwasser commented on #83
Closing this as it was implemented!! thank you again @jeje1140 !!

[2018-10-31 17:06] #54 closed

[2018-10-31 17:19] lwasser commented on #63
Closing this given the PR has been merged. Thank you again @hdumke !!

[2018-10-31 17:19] #63 closed

[2018-10-31 17:21] lwasser commented on #61
closing this as the PR was just merged!

[2018-10-31 17:21] #61 closed

[2018-10-31 17:34] lwasser opened #97 "Update environment.yml to reflect dependencies not the ea envt in it's total form"
Hey @mbjoseph  just curious at this point with our testing setup if we want a yaml file
This one: is not representative of our dependencies. there are many more things there that we don't need. it's also an old version of the ea-environment. i'd like to understand what this file should contain IF we need it!

https://github.com/earthlab/earthpy/blob/master/environment.yml

[2018-10-31 17:45] lwasser commented on #2
just a note all that in line with @joemcglinchy 's original thought and @jlpalomino 's second.... that the order of bands in the norm_diff function is confusing... several students have voiced the same issue! This is why i originally created this issue. @joemcglinchy i know you made some changes... Do you want to resubmit the PR to adjust the function and also update the docs, [here](https://githu

[2018-10-31 18:09] mbjoseph commented on #97
Hey @lwasser - yes until we move away from conda, the build on Travis still expects to find an `environment.yml` file. The relevant lines are here: https://github.com/earthlab/earthpy/blob/master/.travis.yml#L19-L20

If you wanted to trim down the dependencies in that file to be limited to the dependencies of the earthpy package, that would probably be good. It should make our builds faster on Tra

[2018-11-02 02:40] lwasser opened #98 "Cloudmask Functions"
Here is a start at some functions to handle cloud masks. Currently they are very modular and super focused as written. Let's start a discussion around what types of functions would be most useful for typical modis and landsat workflows where you are removing cloudy pixels.
[code]

[2018-11-02 02:46] lwasser commented on #97
eeks -- well i messed up and didn't see i was on  master but this has been atleast cleaned up [here](https://github.com/earthlab/earthpy/commit/506748bd867c913cf4b210b2855e0814909856ef)

[2018-11-02 02:58] lwasser commented on #97
i think we can get rid of all of this:
can you think of any reason we migth want it @mbjoseph  ?

[code]

[2018-11-02 17:03] lwasser commented on #97
yml file has been updated [here](91d88bccb2e2dc39342e6b2eaa2c3b504d6ad23b) renamed the envt, removed items that don't relate to this package and updated travis build accordingly. Closing this for the time being but we can reopen if need be.

[2018-11-02 17:03] #97 closed

[2018-11-02 18:47] lwasser commented on #36
And it turns out this issue is with mpl 3.0.0 in notebooks! they fixed it in 3.0.1 so the fix is to upgrade matplotlib!! shouldn't be an issue in the future! i am closing this for the time being!

[2018-11-02 18:47] #36 closed

[2018-11-05 19:02] lwasser opened #110 "es.norm dif -- divide by 0 warning."
Currently when you run norm_diff if there is a divide by 0 issue you get the following warning:

[code]
This warning comes from numpy and just informs the user that they were a divide by 0 issue! But it actually simply provides that cell with a "na" value so it works as you might think it would. Look into whether it's possible to throw a slightly more friendly error that says - warning: divide by

[2018-11-07 01:59] lwasser opened #112 "Clip Module - polygon should use overlay() rather than the rtree approach & Multi Poly Issues"
Currently the clip module uses the same approach for lines and polygons. this is because `overlay()` which handles clip does not handle lines. We should do the following

- [x] Test whether the clip fun I wrote is faster or slower than the `overlay()` function with `how=intersects` as an option. Adjust function accordingly.
- [x] It follows that clip will fail if provided a multi-polygon (or line

[2018-11-07 02:08] lwasser commented on #26
Adding a noteo from @mbjoseph

draw_legend code is fairly complex as written with a bunch of nested list comprehensions so as we fix it also consider simplifying the code.

[2018-11-07 03:55] lwasser commented on #50
@jlpalomino  can this issue be closed? if so please attach the PR to it, remove the pr requested tag and then close it!

[2018-11-07 16:01] jlpalomino commented on #50
Fixed by #78

[2018-11-07 16:01] #50 closed

[2018-11-07 16:28] lwasser commented on #37
giving this to @lherwehe to work on. lauren please place the google doc link here when you have gotten it goin!!

[2018-11-07 17:21] lherwehe commented on #37
Hi @lwasser @jlpalomino @mbjoseph & @joemcglinchy -

Here is a google spreadsheet for tracking the functions...
[](https://docs.google.com/spreadsheets/d/1_niZJ19tydYclwv_Sub0RRECPnWWUxynpWNR8N5Nbwg/edit#gid=0)

[2018-11-08 03:03] lwasser commented on #37
This is great. thank you @lherwehe !!!

[2018-11-08 20:28] lwasser opened #117 "Remove () from mask functions, document functions & add bollean for broadcast to."
The mask functions need a bit more refinement
- [x] docstrings are required for all of the functions
- [x] remove `()` from the return statements. this is not `R` @lwasser  yes I just pinged myself
- [x] currently `broadcast_to` is used to create a mask of the same dimensions as the array. It could be useful to add a bollean to test the dimensions and ONLY broadcast if they are different.

[2018-11-08 20:33] lwasser opened #118 "Move generation test functions -- to utils.py script"
@mbjoseph mentioned he is willing to create a test_utils script (mayeb diff name) that contains util functions that we will use throughout to do things like
1. create geodataframes
2. create tif files and maybe??
3. numpy arrays

just so they are all in the same place .
@mbjoseph if i misheard this in our meeting please unassign yourself!

[2018-11-08 20:42] #19 closed

[2018-11-08 20:42] mbjoseph commented on #19
We are going to use conda :snake:

[2018-11-08 20:44] #30 closed

[2018-11-08 22:08] lwasser opened #120 "Add Unit tests to Bytescale function"
Following up on today's meeting we need to add unit tests for the bytescale function.

[2018-11-08 22:09] lwasser commented on #2
@jlpalomino  assigning this issue to you when you add tests for norm_diff please also just swap the parameter order!

[2018-11-08 22:10] lwasser opened #121 "Add unit tests to norm_diff function"
in followup to our meeting today, @jlpalomino please add unit tests to the norm diff function!

[2018-11-13 15:38] lwasser opened #125 "Do we want to add slope and aspect generation?"
It seems to me if we have hillshade, we might want to add slope and aspect as well to our dem processing tools in earthpy.

https://stackoverflow.com/questions/47653271/calculating-aspect-slope-in-python3-x-matlab-gradientm-function

[2018-11-29 19:38] lwasser opened #130 "Please have a look at bytescale tests?"
hey @joemcglinchy
can you please have a look at this here

https://travis-ci.org/earthlab/earthpy/builds/460164320#L1240

it's throwing an error on @betatim [pr ](https://github.com/earthlab/earthpy/pull/129)
what is odd about this is that the last commit actually did not fail. but in this pr clearly the bytscale tests are throwing an error.

Can you kindly look into this as this is related to tha

[2018-11-29 19:48] joemcglinchy commented on #130
@lwasser this means that bytescale is not returning an array where the minimum value is 0.0, rather, it is 1.0.... why would that be?

[2018-11-29 19:54] lwasser commented on #130
i'm not sure. So can you run the test_spatial locally and see if it throws an error and explore it perhaps?
Looking at the code below, it looks like the tests aren't quite complete so a bit of cleanup is also in order :)

i would imagine tho if you run it locally it will throw the same assert as travis does? does it? and if not ... i am not sure. does the cmin have anything to do with it perhaps?

[2018-11-29 20:33] joemcglinchy commented on #130
There is nearly 100% code coverage on the bytescale function, with the exception of checking if the data is of type uint8, which would be easy enough.
https://codecov.io/gh/earthlab/earthpy/src/master/earthpy/spatial.py#L259

I am testing it locally and am receiving no errors when calling `test_bytescale_high_low_val()`. are you seeing errors with it locally? the `cmin` parameter should have nothi

[2018-11-29 21:07] lwasser commented on #130
can you do this? @joemcglinchy  can you please submit a new pr... in that just clean up the file - specifically remove this:
[code]
the code above doesn't actually do anything. let's see what travis says on a new build? when i run it locally i don't see an error. the min is 0 . i'm not sure what travis is running.

[2018-11-29 21:31] joemcglinchy commented on #130
removing that line will remove coverage for this line in bytescale:

[code]

[2018-11-29 23:15] mbjoseph opened #132 "Automate linting"
It would be nice to automatically lint in our continuous integration pipeline. We can discuss what to use here, but some options include [pycodestyle](https://github.com/PyCQA/pycodestyle), [pylint](https://github.com/PyCQA/pylint), and [flake8](https://github.com/PyCQA/flake8). We could also look into something that automatically formats code like [black](https://github.com/ambv/black).

Let's us

[2018-11-29 23:16] lwasser commented on #132
yes please!! you know linting is really difficult to force on people. it might be nice to have something like black running to keep things tidy. i haven't run it yet locally. i hate the function syntax but @betatim  speaks really highly of it.

i mean do we want to spend time linting or coding is the question :)

[2018-11-29 23:17] lwasser commented on #130
ok @joemcglinchy since things seem to be ok with travis now i'll close this.if travis becomes angry again we can revisit! thank you so much.

[2018-11-29 23:17] #130 closed

[2018-11-29 23:20] lwasser commented on #117
@joemcglinchy do you think broadcast_to is a time intensive activity? should i bother with the above fix to add a boolean to it in mask?

[2018-11-29 23:22] lwasser commented on #120
and this @joemcglinchy should we add a note that there is not 100% coverage at this point?? OR just close this as it's pretty darn close. @mbjoseph any thoughts??

[2018-11-29 23:23] lwasser commented on #110
I am not handling this issue by resolving any values that can't be calculated to be masked. closing this

[2018-11-29 23:23] #110 closed

[2018-11-29 23:24] lwasser commented on #28
i'm going to close this for the time being given we are making our own data for testing purposes... please reopen if we change our minds on that!

[2018-11-29 23:24] #28 closed

[2018-11-30 03:03] lwasser commented on #120
hey @joemcglinchy i had an epiphany walking my dog tonight. IF you test for the expected min and max values provided when that cscale ends up being 1, that should work. so

arr_out = es.bytescale(arr, cmin=10, cmax=100)
# what would you expect the arr_out.min() and max() to look like given the above statement?
then do

assert arr_out.min() == min_val_you_expect_here
assert arr_out.max() == max_val

[2018-11-30 14:36] lwasser commented on #130
@betatim it *could* be the case! i'd have to think about this more in context of the function. pretty odd that it worked after a travis build so that does suggest your statement must be true.

[2018-11-30 16:04] joemcglinchy commented on #130
it certainly could be the case. I ran that function in a loop with 1000000 iterations, multiple times, and that assertion error comes up randomly.

I brought this up to Leah yesterday, I think there is something else that could be contributing to this issue. The `return` statement of `bytescale` ensures that if there is a value of 0 anywhere in the array, it automatically assumes the value of 1 du

[2018-11-30 16:34] joemcglinchy commented on #130
looks like we have a bug in bytescale. I edited my local copy of test_spatial.py to print out some values, here's what we get for the last check on `scale_arr` which is throwing the error

[code]

[2018-11-30 16:49] lwasser commented on #130
what about that particular array threw the bug @joemcglinchy  ? Nice find!!

[2018-11-30 16:52] joemcglinchy commented on #130
I think since the min of the original array was greater than the cmin specified (10)? I am not totally sure. I'm going to have to figure that one out locally. I'll add it to my bytescale_tests branch and submit another PR when it's ready.

[2018-11-30 17:47] lwasser commented on #130
Sounds great @joemcglinchy you know i've found a bunch of bugs in my functions too working through these unit tests. i think for that reason alone it's a great option. :)

[2018-12-03 15:37] betatim commented on #132
I like carefully hand crafting the layout of the code so it is just right and follows PEP8 so I was a bit "eeewww, automatic!??!" when I started using black. However after using it for a while and considering how much better uniformly formatted code is and how little I enjoy discussing with others that "no, that isn't pep8" I am liking black more and more as an automatic tool that just runs when y

[2018-12-03 15:48] lwasser commented on #132
yea me too. the one thing i don't like is the function format which is i think:

[code]
That to me looks weird. But maybe i'll get used to it?!

I also think it's silly to spend time formatting code when you can instead just write and fix code and documentation. i'm all for formatting happening on the fly without having to fight with flake8 and pylint on travis. @betatim can you direct us to a pac

[2018-12-03 16:37] betatim commented on #132
I'll have a look how to do that. I know https://github.com/nteract/nteract/ runs some kind of formatter on checkin (but it is JS so they don't use black). I'll post here when I find out.

[2018-12-03 18:10] mbjoseph commented on #132
Here is a tutorial that describes using pre-commit hooks with black and flake8: https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/

[2018-12-06 19:00] #118 closed

[2018-12-06 19:07] mbjoseph commented on #70
Tests for crop_image need raster and polygon objects. Currently there is a pending PR to integrate raster data generation for testing that these tests would depend on: https://github.com/earthlab/earthpy/pull/45

[2018-12-06 19:09] mbjoseph commented on #70
TODO: consider the edge case of cropping using an extent that is just a point (with zero area), e.g., something like the result of

[code]

For completeness, there is also the edge case of when the extent is a line, e.g.,

[code]

[2018-12-06 19:09] mbjoseph commented on #34
This issue is a duplicate of  #70

[2018-12-06 19:09] #34 closed

[2018-12-06 20:14] lwasser opened #142 "Executing example code in Read the Docs documentation"
Can we setup doc builds so that example code within the .rst files is executed?
[Example doc with code](https://github.com/earthlab/earthpy/blob/master/docs/spatial-raster.rst#calculate-normalized-difference)
Using doctest

[2018-12-06 20:38] lwasser commented on #117
so for now it's probably just as much resources to run a logic check... closing this and not implementing boolean for broadcast_to to create mask.

[2018-12-06 20:38] #117 closed

[2018-12-06 20:52] mbjoseph opened #143 "Add unit tests for spatial.colorbar"
The colorbar function needs unit tests!

[2018-12-06 21:03] lwasser opened #144 "Make download class more generic"
-  add an input for the DATA_NAME
-  test for other generic uses ???

[2018-12-06 21:49] lwasser commented on #143
so on it! :)
Time to learn about divider objects.

[2018-12-06 23:44] lwasser opened #148 "Stack Raster Tifs issues - providing a dir instead of a path to a file.tif"
Just a note for @joemcglinchy
i'm happy to work on this with you but... here is something a student just tried to do!! :)

[code]

[2018-12-12 22:54] lwasser opened #154 "epsg lookup is undocumented - should we include this or use something from proj4?"
currently we have an epsg dictionary that allows you to lookup the prj string for an epsg code rather than having to google it! this gives you units and such.

We need to add epsg to the documentation of earthpy.

et.epsg["epsg-code-here"]

This issue is probably do we want to keep or **remove this** from our package??!!  @joemcglinchy can you please look into this?? ... it could be a function tha

[2018-12-13 16:52] mbjoseph opened #155 "stack_raster_tifs cannot write tifs to the current directory"
The `stack_raster_tif` function raises an error when writing output to the current working directory, e.g.,

[code]

This error occurs because of this line (https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L115):

[code]

If `out_path` is "out.tif", then `os.path.dirname(out_path)` evalues to `""`, and `os.path.exists("")` evaluates to `False`.

I have a fix in the works as part

[2018-12-16 07:16] mbjoseph opened #157 "Autogenerate API documentation"
Currently a large chunk of earthpy documentation is duplicated from docstrings in the source code. It would be better to automatically generate API documentation from the docstrings using Sphinx, and we can do so while keeping numpy style docstrings using the napoleon extension (https://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html).

The napoleon extension is also used by rasterio t

[2018-12-16 07:20] mbjoseph commented on #33
Solved by #146

[2018-12-16 07:20] #33 closed

[2018-12-17 23:07] zstatmanweil opened #159 "Error with strack_raster_tifs"
Hello,

This is my first time adding an issue on Github so not sure how to proceed exactly, but I am getting an error when I try to run the stack_raster_tifs function that reads "module 'rasterio' has no attribute 'io'" for line 160

Should the code be rasterio._io.DatasetReader: ?

Thank you!

[2018-12-17 23:40] lwasser commented on #159
hey @zstatmanweil !! Thank you for your issue! And congrats on submitting your first issue to GitHub! that's awesome! I think looking at the code now, I should rewrite this test here:

https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L160

in a way that doesn't call the object type. I can fix this but my other question for you is - are you definitely providing the function with a

[2018-12-17 23:55] zstatmanweil commented on #159
Hi @lwasser ! Thanks for the response and support :-)

In answer to your second question: I am using rasterio version 0.36.0

In answer to your first: I believe I am providing my function a list of paths to several landsat band tifs (but I am also relatively new to coding so would not be surprised if I am doing something wrong). I successfully stacked the same landsat bands using this method [here

[2018-12-18 00:02] lwasser commented on #159
Ahhhh ok so are you by chance using an old version of rasterio. the older version called the object a `RasterReader` or something like that. Sometime around version 1.x it was updated to `DatasetReader`. this is why that line is failing on your computer. Are you running on windows 32 bit by chance? or anaconda 32 bit. If you are you can only install the older version of rasterio via conda. This wi

[2018-12-18 00:45] zstatmanweil commented on #159
I am running on windows 64 bit and anaconda 64 bit but I typically install my packages through Anaconda Navigator rather than conda and 0.36.0 was the newest available. I now have successfully installed the most recent version though and the function works! Thank you so much - I bet I would have run into a problems with that old version and had no idea what was going on.

Thanks again and I am enj

[2018-12-18 01:54] lwasser commented on #159
Oh fantastic! That's interesting that you had such a dated version. I jumped to 32 bit conda because .36 is actually the version that the 32 bit windows envt supports. Anyway SO GLAD this worked for you. If you are comfortable with it, i'll go ahead and close this issue (when i hear back that you are ok with my closing it). I'll then open a new issue for us to update that test for the dataset read

[2018-12-18 01:56] lwasser opened #160 "Update stack() function test for reader object"
Currently the `stack()` function has a call to test for a `rio.DatasetReader` object. However we should instead use ducktyping to ensure that this doesn't break given various versions of rasterio on users machines. This is implemented here:
https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L160

I think this update could be implemented now independently of the discussion around th

[2018-12-18 02:02] zstatmanweil commented on #159
Yes, please close. Thank you!

[2018-12-18 02:48] lwasser commented on #159
Great. thank you @zstatmanweil  closing this issue!! :)

[2018-12-18 02:48] #159 closed

[2018-12-18 06:01] #132 closed

[2018-12-18 21:30] lwasser opened #163 "Earthpy Needs a license"
Hey guys! i want to secure the earthpy name on pypi. This means we  need a license file. Any thoughts on this? MIT seems fairly standard. I'm very open to thoughts on this however! Perhaps we could once again look to

- [rasterio](https://github.com/mapbox/rasterio/blob/master/LICENSE.txt)
- [Geopandas here](https://github.com/geopandas/geopandas/blob/master/LICENSE.txt)

[2018-12-18 22:19] mbjoseph commented on #163
MIT sounds good to me!

[2018-12-18 23:34] mbjoseph commented on #155
Solved by #156

[2018-12-18 23:34] #155 closed

[2018-12-18 23:35] mbjoseph commented on #142
Solved by #151

[2018-12-18 23:35] #142 closed

[2018-12-18 23:38] mbjoseph commented on #143
Solved by #147

[2018-12-18 23:38] #143 closed

[2018-12-19 00:14] lwasser commented on #26
closing this issue as it is fixed with this pr https://github.com/earthlab/earthpy/pull/149

[2018-12-19 00:14] #26 closed

[2018-12-19 02:07] lwasser commented on #163
for the time being and after chatting with @mbjoseph i applied the BSD 3 clause license similar to geopandas. [see here.](https://github.com/earthlab/earthpy/blob/master/LICENSE). Closing this for now but we can reopen if needbe!

[2018-12-19 02:07] #163 closed

[2018-12-19 02:07] lwasser commented on #120
closing this via https://github.com/earthlab/earthpy/pull/145

[2018-12-19 02:07] #120 closed

[2018-12-19 02:08] lwasser commented on #121
in progress via this pr https://github.com/earthlab/earthpy/pull/140
@jlpalomino when this PR is merged will you kindly close this issue?

[2018-12-19 02:09] lwasser commented on #2
referencing this pr which has the changes implemented.  - https://github.com/earthlab/earthpy/pull/140

@jlpalomino will you please also close this issue when the PR is merged!

[2018-12-19 02:10] lwasser commented on #157
this will be good. i'll have my interns start by working on updating the documentation to be a bit more robust.

[2018-12-19 02:11] lwasser commented on #160
@joemcglinchy implemented duck typing here https://github.com/earthlab/earthpy/pull/162 closing this!! yahoo!

[2018-12-19 02:11] #160 closed

[2018-12-19 02:12] lwasser opened #165 "When we finish implementing the norm diff func and potentially stack() create a new release"
let's not forget to create a new release with a zenodo key & then i'll update pypi. so steps involved

1. create release
2. update zenodo badge accordingly
3. create new pypi tarball
4. push to pypi

While we are at it a black badge might be nice to have in the readme. I'd also like to generate a list of contributors

[2018-12-19 06:25] betatim opened #166 "Mention `pre-commit install` in contributing docs"
Via #158:

It is a bit annoying that this isn't somehow install for the user when they clone the repo. At least that was my expectation. I'll try and find out if there is a way to do this automagically.

The fact that users could forget to do this means we should add black to the CI setup. Otherwise there will be a PR sooner or later that isn't properly formatted and we will be back to the "woah a

[2018-12-19 17:08] joemcglinchy opened #167 "updating stack function naming and return"
in looking at the `stack_raster_tifs` and `stack` workflow, I had a couple of ideas to perhaps enhance the readability and usability of these 2 functions. Here is what I propose:

1) Since this function is being used in an environment most likely for exploratory analytics and data investigation, the stack workflow should return a nD array for the user to further analyze in their python environment

[2018-12-19 17:35] joemcglinchy commented on #167
I think cropping using the geometry (however it is provided) along with a set of bands would be a good function to have, but before incorporating it into a general `stack` function like we have right now it would be good to provide it as a separate function, e.g. `stack_and_crop` so as to not complicate the current function. If we can get that separate function working with the crop functionality,

[2018-12-19 17:42] lwasser commented on #167
agreed!! also i have no desire to deal with image rotation. i think rasterio handles it tho which is why some of me just wants to use the rasterio `mask()` function  as a base. but we have to do it then when the array is  a reader object.  stack could call however the `crop_image()` function. @mbjoseph  is working on this now i think.

[2018-12-19 17:45] mbjoseph commented on #167
FWIW I like @joemcglinchy's suggestion to return an array and not write to the filesystem by default - it seems more polite to only do so if the user changes the `write_raster` argument.

I also think we should keep stacking and cropping functions separate, as they are both useful on their own. We should probably move cropping discussions to another issue to keep this one on topic.

[2018-12-19 17:47] lwasser commented on #167
hey @mbjoseph i'm happy to move it but i think it impacts the stack function potentially too. Here is why. when you open data using rasterio you get a raster reader object. as soon as you mask() or read() the data it is now a non spatial numpy array.

At this point you can no longer call the mask() function UNLESS -- this is a big unless there is a clever way to create a datasetreader object using

[2018-12-19 18:50] mbjoseph commented on #166
Thanks for following up with this Tim! I will assign myself to add this info the docs, and also look into running black on Travis as a check.

[2018-12-19 20:57] joemcglinchy opened #169 "import earthpy.spatial raising NotImplementedError"
Hi, has anyone seen this?? running jupyter notebook from the earthpy parent directory:

[code]

just showing that to give an idea of my file structure. This first import statement raises a NotImplementedError (the second one, imports fine after trying it *twice*, the first try to import it throws the same error):

[code]

throws:

[code]

This is specific to jupyter notebook. If I am in a command

[2018-12-19 21:08] #169 closed

[2018-12-19 22:57] lwasser commented on #169
@joemcglinchy did you sort this out?
`import earthpy.spatial as es` should work.

[2018-12-20 01:05] #166 closed

[2018-12-20 17:40] #70 closed

[2018-12-20 19:45] lwasser commented on #40
i am closing this as for the time being we have decided to keep the io module as a helper function that is generic enough to be customized!!

[2018-12-20 19:45] #40 closed

[2018-12-20 20:11] mbjoseph opened #175 "Add tests for earthpy.spatial.hist"
The hist function does not have any unit tests! We should add some.

[2018-12-20 20:24] lwasser opened #176 "Export all plot functions to a new module called plot"
`import earthpy.plot as ep`

Let's move the following functions to a new module called plot:

* draw_legend
* colorbar
* plot* plot_rgb, hist, plot_bands

to a new module called plot

*  this means we will need to update the lessons

[2018-12-20 20:26] lwasser opened #177 "Hillshade function - explore various ways to implement the hillshade calculation"
@jlpalomino  this is for you to work on various approaches to histogram implementation in earthpy.

[2018-12-20 20:30] lwasser opened #178 "Add tests for plotRGB"
* probably need to rename the function as well to follow pep guidelines
* and write tests

[2018-12-20 20:37] lwasser opened #179 "We need to deprecate stack_raster_tifs"
Currently we are renaming stack_raster_tifs. Do we want to use deprecate decorators to slowly deprecate it?

https://pypi.org/project/deprecated/

[2018-12-20 21:01] mbjoseph opened #180 "Set up automated builds to pypi"
Can borrow some of the details from streamstats: https://github.com/earthlab/streamstats

[2018-12-20 21:07] lwasser opened #181 "Pipe dream - contributors on the readme"
Check out this readme.

https://github.com/badges/shields/blob/master/README.md

it's kind of my dream to implement on our pacakges. So then we have Main active contributors and then community contributors who make smaller but very important contributions!

[2018-12-21 17:18] #2 closed

[2018-12-21 17:18] #121 closed

[2018-12-21 18:28] mbjoseph opened #183 "Salvage unique content from old documentation files"
Most but not all of the content in `docs/spatial-raster.rst` and `docs/spatial-vector.rst` is duplicated from the docstrings. Someone (maybe @lwasser?) should go through these old files and pick out the unique/non-duplicated content that we want to keep, and remove duplicated content.

[2018-12-21 20:35] #157 closed

[2019-01-03 20:39] lwasser opened #185 "Clean up environment file"
Packages we can remove:
- numpy ??
- seaborn
- pysal
- cartopy
- sklearn
- geocoder
- mne
- tqdm
- geopy
- pyqt

## Things that could move to dev-requirements.txt:

- codecov
- pytest stuff could go in dev requirements files??
 - pytest
- pytest-cov
NOTE: would want to ensure they install properly using pip...

[2019-01-03 20:48] lwasser opened #186 "Hide helper functions in docs -- intern task??"
1. set up option sin autodoc to hide helper functions
2. rename helpers using dunder `__`

* looks like we can flag helper functions to private so that it doesn't show the helper functions
* solution - rename using `clip_points` --> `__clip_points`
* mask helper functions
* others??

Add plots to vignettes (if plot code is there it should automagically render).

[2019-01-17 17:17] lwasser opened #189 "We need dev setup instructions for earthpy"

[2019-01-17 18:37] mbjoseph commented on #189
Can we add some more info/details to this issue? I'm looking at the CONTRIBUTING file and it looks like we have instructions to set up the development environment. I can't remember specifically which dev setup instructions we thought needed to be added.

[2019-01-17 18:45] lwasser commented on #189
ahhhh @mbjoseph you know i thought we had those but because it's been a week or two since i've worked on earthpy, i had forgotten where it lived

https://github.com/earthlab/earthpy/blob/master/CONTRIBUTING.rst

@nkorinek @mirob9363  please note that the instructions for setting up the envt are located in the link above - the contributing doc. @mbjoseph i think that this issue is actually resolved

[2019-01-17 19:31] lwasser opened #192 "Travis is sad"
We are just getting a warning that we probably want to account for before it turns into an error. Please [see here](https://travis-ci.org/earthlab/earthpy/builds/481028305#L3385)

[code]

[2019-01-17 20:25] lwasser opened #194 "Rename all helper functions to be _helper_name -- SUNDER!!!"
we should go through all functions and add an `_` to those and update associated functions to ensure that they are "hidden" ...

We could also consider looking into whether it appears in the docs in the future to hide these items

DUNDER: `__fun_name__`
SUNDER: `_fun_name`

[2019-01-17 20:38] lwasser opened #195 "Create a HISTORY.rst file ... to track updates associated with each release"
Here's a hackmd doc that we can all contribute to:
https://hackmd.io/JeWxsiUbQFyAXYxyw9Dkiw?edit

Enhancements: updates to functions, arguments, etc
* draw legends works now.

**Breaking Changes:** new function names, changed argument order,
Deprecations
* stack_raster_tifs
New Features:
* stack()

rasterio uses: https://github.com/mapbox/rasterio/blob/master/CHANGES.txt

[2019-01-17 20:46] #192 closed

[2019-01-17 20:49] #175 closed

[2019-01-17 21:01] mbjoseph opened #196 "Add instructions for doctest ellipses and sphinx plotting"
I need to add some instructions to CONTRIBUTING.rst to explain how to use doctest ellipses and Sphinx plotting.

[2019-01-18 20:48] mbjoseph opened #198 "Add dependencies for docs to Makefile"
Right now `make docs` is not aware of the dependencies for the `docs` target. I need to add this to the top level Makefile so that it rebuilds the docs when it needs to.

[2019-01-18 20:57] lwasser opened #199 "Remove deprecated code from earthpy"
In the next pr's remove the `deprecated.py` script from earthpy as it has a suite of syntax issues and is throwing off the docs build.

- [ ] Thing two
- [x] `fix_paths()`

[2019-01-20 02:51] mbjoseph opened #203 "Get started docs are out of date"
## Identify the Documentation Element That You Propose to Update

The content in `docs/get-started.rst` is out of date, and no longer reflect the modules and functions that are contained in earthpy.

## Please Identify Your Proposed Changes Below

The get started docs can be updated to reflect the new module structure and changes to the functionality included in each module. I would recommend that

[2019-01-20 06:03] #176 closed

[2019-01-23 02:37] #198 closed

[2019-01-24 17:27] mirob9363 opened #204 "Updating and renaming mask functions"
I am working on some changes for the mask functions. Below are my proposed changes.

- [x] make the first two functions `(make_cloud_mask` & `apply_cloud_mask`) private helper functions (SUNDER)
- [x] switch `vals` to an optional variable (in case the user has already created a mask they want to use
- [x] modify code to account for if the user provides a pixel qa layer with values vs. their own ma

[2019-01-24 17:55] lwasser commented on #204
@joemcglinchy @mbjoseph @jlpalomino  we'd like your input on the above mask function name change that michelle is proposing. if you recall this is to apply a cloud mast to a numpy array. it creates the mask array from the pixel_qa layer if provided with values. And then applies it to the array to be masked.
[code]
Please give us some feedback on the suggested name changes above!!
@mirob9363  pleas

[2019-01-24 18:58] joemcglinchy commented on #204
The "mask" term may be a candidate for confusion, I can see that. We have rasterio's `mask` and numpy's `MaskedArray`. I think we want to avoid calling it strictly `mask` because we typically use that for rasterio's mask, e.g., `from rasterio.mask import mask`. `mask_array` looks very close to `masked_array` from `numpy.ma`, so there could be unwanted confusion there. We could flip it and all it `

[2019-01-24 19:01] lwasser commented on #204
gosh good point @joemcglinchy just a thought... something like `mask_pixels` which at a minimum would be different from numpy.ma stuff . i know @mirob9363 can appreciate how confusing "mask" was as implemented in rasterio. most students struggled with this.

[2019-01-24 20:33] joemcglinchy commented on #204
we can change to `secrete_array`.

feel free to delete after laughing.

[2019-01-24 20:34] lwasser commented on #204
omg @joemcglinchy is that what the thesaurus suggested?

[2019-01-24 21:09] joemcglinchy commented on #204
...it's an option

[2019-01-25 18:24] mirob9363 commented on #204
What I have right now is @lwasser suggestion `mask_pixels`!

[2019-01-26 00:19] Silas-Asamoah opened #206 "PIP Installation problem - ModuleNotFoundError: No module named 'numpy'"
I tried installing earthpy using
`pip3 install --upgrade git+https://github.com/earthlab/earthpy.git`

And I get the following error
`Collecting git+https://github.com/earthlab/earthpy.git
  Cloning https://github.com/earthlab/earthpy.git to /tmp/pip-req-build-oi4iyxo6
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  Complete output from command /usr/bin/p

[2019-01-26 00:32] lwasser commented on #206
Hi there!

Can you tell us

  1.  What operating system you are running
  2.  What version of python are you running?
  3.  What happens when you try pip instead of pip3?

It’s interesting it’s saying it can’t find numpy on the install. I’m not able to recreate this error locally right now but the above information will help us troubleshoot.

[2019-01-26 00:35] lwasser commented on #204
i kind of like that name. @joemcglinchy @mbjoseph what do you think about that?? `mask_pixels`

[2019-01-26 01:51] Silas-Asamoah commented on #206
I'm running
Ubuntu 18.04
Python 3.6.7
numpy 1.13.3

I still caught the same error when I used pip

[2019-01-26 03:52] mbjoseph commented on #204
Works for me - good idea to generalize the name of this function and avoid conflicts with rasterio.mask.

[2019-01-30 16:38] nkorinek commented on #186
The helper functions have been notated with a sunder instead of a dunder, but autodoc automatically hides the helper functions from the documentation! This issue can probably be resolved...

[2019-01-30 20:46] joemcglinchy commented on #204
`mask_pixels` works for me as well.

[2019-01-30 20:50] lwasser commented on #204
woo hoo. @mirob9363 i think we have a name!! `mask_pixels` :)

[2019-01-31 17:10] lwasser opened #207 "PEP multiline docstrongs"
Following @mbjoseph comment in [this pr](https://github.com/earthlab/earthpy/pull/197)
[code]

let's talk about whether we want to implement this throughout earthpy - this would include the functions AND the tests!!

[2019-01-31 20:38] lwasser commented on #195
@joemcglinchy @mbjoseph @mirob9363 please update the rst files to reflect your changes.

[2019-01-31 20:41] lwasser commented on #189
ALl instructions are in the contributing.rst file!! closing

[2019-01-31 20:41] #189 closed

[2019-01-31 20:42] #186 closed

[2019-01-31 20:46] lwasser opened #213 "Testing earthpy across Python versions"
We want to ensure that earthpy works across different versions of python. @mbjoseph  will look into how we  can best implement testing

[2019-01-31 20:48] lwasser commented on #180
https://github.com/earthlab/earthpy/pull/188 In progress!!!

[2019-01-31 20:48] #179 closed

[2019-01-31 20:52] joemcglinchy commented on #167
closed with PR #170

[2019-01-31 20:52] #167 closed

[2019-01-31 20:54] joemcglinchy commented on #148
closed with PR #170 and #156. @lwasser can you please close.

[2019-01-31 20:54] jlpalomino commented on #165
I will create a new release for earthpy and then update the Zenodo badge in the README.md using the universal DOI (agnostic to specific release/version).  I will also create the list of contributors.

[2019-02-04 14:59] #180 closed

[2019-02-04 22:10] mirob9363 opened #215 "plot.py function colorbar has unused parameter"
While going through the `plot.py` documentation, it has come to my attention that the function `def colorbar` has an unused parameter `aspect`.

Was there a plan to add this parameter into the function? If not, I would like to remove this variable from the function definition.

[2019-02-07 17:16] mbjoseph opened #218 "Purge module-specific test fixtures from tests/conftest.py"
Any fixtures defined in tests/conftest.py are available for all tests. This is great when needed, but currently there are some fixtures in conftest.py that are only used and needed by one test module. These fixtures should be defined in that test module, instead of conftest.py. This has two benefits:

1. Less clutter in conftest.py
2. Easier to reason about test fixtures that are defined and used

[2019-02-07 17:19] mbjoseph opened #219 "Refactoring the tests - one test file per function (or function + helpers)"
We started out defining one test module per earthpy module, and then transitioned to defining one test module per function or group of functions in earthpy modules. We should choose one approach.

To be consistent, we could refactor the tests so that one function or groups of related functions are tested in one test module, rather than using  a one to one mapping of earthpy modules to test modules

[2019-02-11 21:21] mirob9363 commented on #204
changes to mask.py can be found in the pull request https://github.com/earthlab/earthpy/pull/220

[2019-02-12 17:54] lwasser opened #222 "Clarify Deployment steps!"
The deployment steps for earthpy are currently great as a start but could use some enhancements.

A few notes specifying how bumpversion works would go a long way... and perhaps an actual example of the steps.

I think
1. bumpversion minor bumps .5-> .6, patch .5.0 -> .5.1 and major is a new version i presume!
2. i think we need to be clear that bumpversion both updates the version number AND crea

[2019-02-12 18:03] lwasser opened #223 "Travis is not happily deploying to pypi"
I am not sure why it's not implementing the pypi deployment but i wanted to create this issue so we can work on it! we are at version 0.5.1 now :)

Also just a note that zenodo failed as well on this release

https://zenodo.org/account/settings/github/repository/earthlab/earthpy#

[2019-02-12 18:26] maykef commented on #206
go back to pip 9:

pip install --upgrade pip==9.0.3

And reinstall using pip3 install --upgrade git+https://github.com/earthlab/earthpy.git

[2019-02-12 20:25] lwasser commented on #206
hey @maykef THANK YOU. we've been running into this issue as well and i've tried many things without it working. Hey  @jlpalomino @nkorinek  @katysill Try to do this

1. open up bash and run `pip install --upgrade pip==9.0.3` (i have version 9.0.1)
2. Then try to install earthpy again.

this actually worked for me well.
Let me know if it works for others. i was starting to dig into rasterio and nu

[2019-02-12 22:32] maykef commented on #206
Nice to hear it worked for you too.

[2019-02-13 18:08] joemcglinchy commented on #215
I don't see where it is used. I would say go ahead and remove it.

[2019-02-13 19:40] joemcglinchy commented on #154
at this point I would say let us leave it in earthpy! I have done some digging and have struggled at how to produce the same string we have in the `epsg.json` dictionary. For example, the first entry:

"29188": "+proj=utm +zone=18 +south +ellps=aust_SA +towgs84=-66.87,4.37,-38.52,0,0,0,0 +units=m +no_defs"

I can run
[code]
The closest I can get is by calling `.to_latlong().srs`, which isn't even

[2019-02-14 00:03] lwasser commented on #206
@maykef i'm just curious. do you happen to know what the issue is with certain versions of pip that impact an install?

[2019-02-14 00:20] maykef commented on #206
https://github.com/pypa/pip/issues/6163

[2019-02-14 10:25] maykef commented on #206
Sorry, that wasn't the right link.

https://github.com/pypa/pip/issues/5240

[2019-02-14 15:10] maykef commented on #206
I wrote a short tutorial to run jupyter notebooks on Google Cloud Platform.
It corrects most of the errors on the installation.
I hope it helps:
https://medium.com/@maykef/how-to-create-a-vm-in-gcp-for-geospatial-processing-in-python-3dd00ad5f3e7

[2019-02-14 19:38] Silas-Asamoah commented on #206
`Collecting git+https://github.com/earthlab/earthpy.git
  Cloning https://github.com/earthlab/earthpy.git to /tmp/pip-36qhaiyh-build
Collecting tqdm (from earthpy===VERSION-0.6.0-)
  Using cached https://files.pythonhosted.org/packages/6c/4b/c38b5144cf167c4f52288517436ccafefe9dc01b8d1c190e18a6b154cd4a/tqdm-4.31.1-py2.py3-none-any.whl
Collecting pandas (from earthpy===VERSION-0.6.0-)
  Using cached

[2019-02-14 19:59] Silas-Asamoah commented on #206
Going back to pip 9 didn't work but pip 10 did, after going through @maykef tutorial earthpy is now correctly installed. Thanks soo much

[2019-02-14 20:43] lwasser commented on #219
We will reorganize the tests so there is one file named `test_func_name.py` per function!!

[2019-02-14 20:50] lwasser commented on #218
let's hold off on this until we implement -- https://github.com/earthlab/earthpy/issues/219

[2019-02-14 20:50] mirob9363 opened #227 "Unused parameter "Aspect" in colorbar function in plot.py"
`aspect` is in the parameter list for the function `colorbar`. What is the parameter for? Do we want to delete it or implement aspect into the function?

[2019-02-14 20:51] #227 closed

[2019-02-14 20:52] lwasser commented on #215
@mirob9363 go ahead and drop the aspect paramemter!!

[2019-02-14 20:54] mbjoseph opened #228 "Testing earthpy across operating systems"
Currently earthpy is only tested on linux, but it would be good to test against Windows and Mac OS also. Maybe we can do this on Travis CI.

[2019-02-14 21:00] mbjoseph commented on #207
Here's and example: https://github.com/earthlab/earthpy/blob/master/earthpy/spatial.py#L350-L395

[2019-02-14 21:03] lwasser commented on #207
We will implement following the example above for bytescale pep 257 format with a short overview and a longer description as it's needed.

[2019-02-14 21:06] mirob9363 commented on #215
this issue has been addressed by pull request https://github.com/earthlab/earthpy/pull/229

[2019-02-14 21:09] lwasser opened #230 "Do we want to create a known issues wiki page?? that we update & update big report template"
This could be as simple as a link to the issue where the problem was solved??

Here is the [bug report template:](https://github.com/earthlab/earthpy/issues/new?assignees=&labels=&template=bug_report.md&title=) What should be added

[2019-02-14 21:18] lwasser commented on #154
if we keep this we will need to add documentation!! Call it in the lessons !! @nkorinek

[2019-02-14 21:37] mbjoseph commented on #206
I can confirm I have this issue too. I am running Ubuntu 18.04.2 LTS (Bionic Beaver), python version 3.6.7, conda version 4.6.3, in the earthpy-dev conda environment.

**Steps to reproduce the issue**

[code]

Which gives the following error:

[code]

[2019-02-14 22:37] lwasser commented on #206
@mbjoseph what version of pip do you have?

[2019-02-14 23:21] mbjoseph commented on #206
@lwasser looks like pip 19.0.2

[code]

[2019-02-15 12:47] bibinwil opened #232 "pip installation problem. TypeError: 'encoding' is an invalid keyword argument for this function"
Hi, I'm using
Ubuntu 16.04.5 LTS 64-bit
python 2.7.12

I tried installing earthpy using
`pip install --upgrade git+https://github.com/earthlab/earthpy.git`

And I get the following error
gpu@gpu-Z270X-Ultra-Gaming:~/PycharmProjects/Bathy$ pip2.7 install --upgrade git+https://github.com/earthlab/earthpy.git
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade

[2019-02-16 00:05] lwasser commented on #206
and i have
[code]
you are on linux and me mac os ... does anyone know why there are two completely different versions here?? i do see [v 19.0.2 on pip](https://pypi.org/project/pip/)!!

[2019-02-16 00:19] lwasser commented on #206
All -- it looks like @mbjoseph has a solution to this issue
https://github.com/earthlab/earthpy/pull/231

it's in the works. if someone can test this on windows and we see it's stable we will merge it and a lot this particular install issue will (hopefully) go away!!

[2019-02-16 00:21] lwasser commented on #232
hey @bibinwil  just a note that we don't support python v 2.7 . Can you provide the output that you get when installing using python 3.6 or higher?

[2019-02-16 00:26] lwasser commented on #215
closing this issue!! great catch @mirob9363 !!!!

[2019-02-16 00:26] #215 closed

[2019-02-16 00:36] lwasser commented on #194
hey @mirob9363 @nkorinek are there any helpers left without the SUNDER added? And can one of you please add the PR's to this issue that address that! Nathan's clip PR would be included as would Michelle's WIP for the MASK function. And potentially i think plot_legend has atleast one?

[2019-02-16 00:38] lwasser commented on #178
closed via https://github.com/earthlab/earthpy/pull/197

[2019-02-16 00:38] #178 closed

[2019-02-16 00:38] lwasser commented on #177
@jlpalomino  will you please link this issue to your PR and be sure it gets CLOSED once you work through the PR review process and that PR is merged?

[2019-02-16 00:39] lwasser commented on #165
@jlpalomino  has this been done? can we close this issue? if so please close it!

[2019-02-16 00:39] lwasser commented on #148
Thank you @joemcglinchy  closing this.

[2019-02-16 00:39] #148 closed

[2019-02-16 02:22] bibinwil commented on #232
Hi, I got installed in python 3.5 and 3.7. But when I tried to import it, it's showing the following error

import earthpy
Traceback (most recent call last):
  File "/usr/lib/python3.5/code.py", line 91, in runcode
    exec(code, self.locals)
  File "<input>", line 1, in <module>
  File "/snap/pycharm-professional/112/helpers/pydev/_pydev_bundle/pydev_import_hook.py", line 21, in do_import
    mod

[2019-02-18 04:27] #222 closed

[2019-02-18 04:28] #196 closed

[2019-02-18 16:44] nkorinek opened #236 "Support for clipping multi part polygon's in earthpy"
When calling earthpy.clip, if either the clip feature or the source feature have "multi" in their geometry, the clip fails. This creates the need to use .explode, and then .reset_index(level=[1]) on all parts of the clip for the function to work. We should look into if there is a way to do this in the function itself. @lwasser

[2019-02-18 16:53] jlpalomino commented on #177
@lwasser I will do this when that PR is opened. The current PR for hillshade is only focused on adding tests and modifying the to existing hillshade calculation.

[2019-02-18 16:57] jlpalomino commented on #165
@lwasser The new release has been created, but I believe we are going to fix the version issue by completing a new release that includes contributors. We need to determine who is listed as a contributor and the appropriate contributor type.

[2019-02-18 19:21] lwasser commented on #206
All... we have implemented a change to our `setup.py` file that we HOPE might address this install issue regardless of what version you have of `pip` running. Please try to install again and let us know how it goes!

[2019-02-18 20:00] lwasser commented on #236
@nkorinek this is a great issue. thank you!! can you create a reproducible example that we can use to test this? I think the tests for clip might help you do that :) Please add that example to your issue text above and we can explore the fix that you are suggesting !! thank you!

Also please format your issues to use `CODE SYNTAX` . this makes them easier to read. notice you can make text appear t

[2019-02-18 21:53] katysill commented on #206
hey @lwasser, I just tried to install, but received the error below. I am using pip 9.0.3 and my environment is activated. I am on a windows machine

$ pip install --upgrade git+https://github.com/earthlab/earthpy.git
Collecting git+https://github.com/earthlab/earthpy.git
  Cloning https://github.com/earthlab/earthpy.git to c:\users\katy\appdata\local\temp\pip-u_vjq2cr-build
Collecting tqdm (from

[2019-02-18 21:56] lwasser commented on #206
@katysill are you installing into your earth analytics environment? ie is that envt active?  it looks like you are but i had that error when my envt wasn't active. @mbjoseph  NOTE: this is the same issue i had on my windows VM.

[2019-02-18 21:58] lwasser commented on #206
what version of rasterio do you have @katysill ?

[2019-02-18 22:03] katysill commented on #206
@lwasser - I have rasterio 1.0.15

[2019-02-18 22:04] lwasser commented on #206
did you update your envt? i have 1.0.18 on my windows VM.

[2019-02-18 22:17] katysill commented on #206
I just ran an update on my earth-analytics environment, and the earthpy install worked perfectly!

[2019-02-18 22:28] lwasser commented on #206
oh good. @katysill i noticed some issues with the older version of rasterio... i'm glad that worked for you. we will have many install kinks to work out!!

[2019-02-19 16:27] lwasser opened #240 "We are missing a few tests for _stack_bands"
I am working on earthpy and noticed that we are missing a few tests for `_stack_bands`.

@joemcglinchy are you willing to tackle a few more tests to fill out the stack functionality?
The missing tests are for the following lines:

- [x] https://codecov.io/gh/earthlab/earthpy/src/master/earthpy/spatial.py#L257
- [ ] https://codecov.io/gh/earthlab/earthpy/src/master/earthpy/spatial.py#L268

The firs

[2019-02-19 16:28] lwasser commented on #194
[This PR](https://github.com/earthlab/earthpy/pull/237) addresses helpers for the mask function

[2019-02-19 17:30] joemcglinchy commented on #240
we can't provide a 2D array to `_stack()`, it expects Dataset Reader objects. So, we can test the `ValueError` with a 2D array for sure. If we can live without L268 of code being covered in the tests, I would suggest doing so. Otherwise we will have to get creative to cover that line. I am happy to submit a PR for testing the ValueError, though!

[2019-02-19 17:32] lwasser commented on #240
Ok let’s start there! It seems to me that you could send it a non raster reader object and it should fail gracefully … ie it it would trigger that test that the format is correct?? I’ll have a closer look.

That would be fantastic. I also noticed the stack_raster_tifs() function should be tested just to ensure it returns a warning 😊 that should be rather straight forward as well. Thank you, Joe.

[2019-02-19 19:17] lwasser commented on #240
fixed via : https://github.com/earthlab/earthpy/pull/241  thank you @joemcglinchy !!!

[2019-02-19 19:17] #240 closed

[2019-02-19 19:43] lwasser commented on #223
This has now been FIXED as of this commit : https://github.com/earthlab/earthpy/commit/09cd020fa5314597c9dd6859e57deee014811886 travis is deploying to pypi... we will be able to update our install very soon to just use pip and not github!!  closing. Yahoooo zenodo worked as well!! definitely closing this now. https://zenodo.org/record/2573233#.XGxcQ9F7kWo

[2019-02-19 19:43] #223 closed

[2019-02-19 19:44] lwasser commented on #204
closing this @mirob9363 by way of this pr that includes all of your edits and some new items!

https://github.com/earthlab/earthpy/pull/237

[2019-02-19 19:44] #204 closed

[2019-02-19 19:45] lwasser commented on #206
ok i am going to close this issue given this pr
https://github.com/earthlab/earthpy/pull/231
if it comes up again we can re-open it!!

[2019-02-19 19:45] #206 closed

[2019-02-19 19:50] lwasser opened #242 "Functions That Need Reproducible Examples in Docstrings"
We need to ensure all docstrings have reproducible examples of how to call the function.

[2019-02-19 23:57] #195 closed

[2019-02-20 00:10] lwasser commented on #165
ok! i have a version 0.6.2 release on zenodo and pypi now!! closing this issue!! I think our current list for zenodo is reasonable although i could see tim being a contributor as he only really contributed a few small things rather than contributing to the higher level creation of the package, docs and testing. but i'm ok with it as is for now!!

[2019-02-20 00:10] #165 closed

[2019-02-20 15:44] nkorinek commented on #236
Can do!

So the example I noticed this on was in the fourth week notebook. The old code was this, where both variables are a shapefile with "Multi" somewhere in the geometry:
[code]

The required fix looks like this (all the variables are read in the same way). As you can see, it's a lot more complicated.

[code]

Hope that helps to clarify!

[2019-02-20 15:47] nkorinek commented on #194
https://github.com/earthlab/earthpy/pull/205 addresses helpers for the clip function

[2019-02-20 16:09] #213 closed

[2019-02-20 16:13] mirob9363 commented on #194
The changes we made to mask.py merged in https://github.com/earthlab/earthpy/pull/237 accounts for all the helper function renaming there!

[2019-02-20 16:18] mirob9363 commented on #236
test ping

[2019-02-20 16:55] lwasser commented on #194
woo hoo!! i think we've covered it all at this point SO... i will close this issue. if we have something that is missing we can always reopen. Thank you BOTH for working on this :)

[2019-02-20 16:55] #194 closed

[2019-02-20 17:24] joemcglinchy commented on #236
Thanks @nkorinek!! In this example, there are 30 geometries in the `ne_roads_albers` class which are multipart geometries (MULTILINESTRING vs. LINESTRING). You'll notice that there is a new column in the clipped feature called `level_1`, which is the index associated with exploding the feature. I'm happy to see the columns are copied over for each exploded feature, so we don't need to worry about

[2019-02-20 17:33] joemcglinchy opened #245 "pip install earthpy on windows 10 with Anaconda 3 does not install example-data folder"
*FEEL FREE TO DELETE IF THIS IS IDENTIFIED ALREADY OR FIXED BY AN UPCOMING RELEASE*

**Describe the bug**
pip install earthpy on windows with Anaconda 3 does not install example-data folder. This causes failure to import clip module, or earthpy as a whole.

**To Reproduce**
Steps to reproduce the behavior:
1. activate desired environment
2. pip install earthpy
3. run code `from earthpy import clip

[2019-02-20 17:53] mirob9363 commented on #242
I can do this!

[2019-02-21 16:55] mbjoseph commented on #245
Hi @joemcglinchy - thanks for opening this. I can't reproduce it on Windows 10, but I wonder whether it relates to this: https://stackoverflow.com/questions/7522250/how-to-include-package-data-with-setuptools-distribute

Can you try deleting the line `include_package_data=True` from setup.py (https://github.com/earthlab/earthpy/blob/master/setup.py#L21), and trying to install then import earthpy a

[2019-02-21 19:24] #27 closed

[2019-02-22 02:06] mbjoseph commented on #112
I took a stab at running some timing experiments to compare the speed of GeoPandas' `overlay(..., how='intersection')` and EarthPy's `clip_shp()`. It's somewhat hard to do a 1:1 comparison because they appear to behave slightly differently.

The order of arguments to `clip_shp` matters: the first arg is clipped by the second arg. The order of arguments to `overlay` is not so important (caveat: if

[2019-02-22 02:28] mbjoseph commented on #232
Hi @bibinwil - thanks for opening this issue! I have not been able to replicate this locally, but the easiest way to install EarthPy is by installing its dependencies via [conda](https://conda.io/en/latest/miniconda.html) first, then installing the package.

Have you tried using a conda environment with earthpy? e.g.,

1. Install the `earthpy-dev` conda environment, activate it, and install EarthP

[2019-02-26 18:02] mbjoseph opened #249 "Make earthpy installable from conda-forge"
EarthPy would be easier for users to install if it was on conda-forge, e.g., if they could do: `conda install -c conda-forge earthpy`. Instructions are here for adding a package to conda-forge: https://conda-forge.org/#add_recipe

One challenge we face currently is the dependency on the [download](https://github.com/choldgraf/download) package - which is not on conda-forge. To get EarthPy on conda

[2019-02-27 16:34] nkorinek commented on #236
@joemcglinchy Hi, so sorry for the late reply! Ya, that sounds like a good idea! I think a warning would be fair. I'm trying to think of a way to get the user to allow a clip on a multipart feature. My first thought was to get an input from the user to move along, but that would obviously be very interrupting to workflow for any notebooks or jobs made with clip. So I was thinking that we have an a

[2019-03-01 16:22] lwasser commented on #112
thanks @mbjoseph !! i'm also pulling @nkorinek into this! So the issue with geopandas overlay is it doesn't handle points and lines. BUT conventional GIS methods don't consider geometry structure when you clip (eg ArcGIS). The idea i had was however that IF overlay is faster for polygons (which geopandas does handle), it could be better to just call that rather than my custimzed rtree approach whi

[2019-03-01 17:02] lwasser commented on #249
Download is used in the `get_data` method. it's a small package that @choldgraf wrote. We could ask him if he's open to moving it to conda-forge. Or we could find an alternative. What are your thoughts on alternatives for downloading? Or Chris - have you considered porting this to conda-forge?

[2019-03-01 17:07] mbjoseph commented on #249
@lwasser there are a few alternatives that we could use to download files (e.g., described [here](https://stackabuse.com/download-files-with-python/)).

But, if @choldgraf is interested in putting the download package on conda-forge, that would be great. I am happy to help with this process too.

[2019-03-01 17:14] mbjoseph commented on #112
Thanks for the info @lwasser! Are you suggesting that we try increasing numbers of points (e.g., `clip_shp(lots_of_points, clip_obj)`), or increasing numbers of polygons?

And if we want the latter, then are we interested in comparisons for one of these cases, or all of them?

- `clip_shp(lots_of_polygons, clip_obj)`
- `clip_shp(shp, lots_of_polygons)`
- `clip_shp(lots_of_polygons, lots_of_polygon

[2019-03-01 17:18] lwasser commented on #112
Yes. Start with clipping more points! i think multi polygons is less of an issue because if i recall i use a `unary_union` to ensure there is one clip extent. I spent a lot of time testing speed associated with clipping lots of points and lots of lines. i would imagine polygons would present a similar issue.

In theory from what i've read - rtree / spatial indexing can be slower with smaller numbe

[2019-03-01 17:37] mbjoseph commented on #112
I'm possibly missing something, but how should we compare the speed of clipping points with EarthPy vs. GeoPandas, when GeoPandas `overlay()` only has clipping functionality for polygons?

[2019-03-01 17:39] lwasser commented on #112
oh no - sorry @mbjoseph . Only test it using many polygons. When you have a clip a file that has many polygon features. i brought that up because the approach i'm using seems to work BETTER with many features BUT i suspected that geopandas would be faster and optimized properly for a polygon operation.

[2019-03-01 18:15] choldgraf commented on #249
I unfortunately have no idea how to put something on conda-forge :-(

[2019-03-01 20:36] lwasser opened #250 "File not found error - data issue"
hey @mbjoseph @joemcglinchy . i just installed earthpy using pip and ran into a data issue:
[code]

have either of you run into this? i do see that directory is NOT there in my environment.

[2019-03-01 20:47] lwasser commented on #250
this could be something specific to my push to pip as i was able to make it work installing from master

[2019-03-01 21:22] mbjoseph commented on #250
Looks like a duplicate of https://github.com/earthlab/earthpy/issues/245

Can you try the suggestion that I made in that thread to solve the issue?

[2019-03-01 21:35] mbjoseph commented on #249
Conda-forge has some instructions here: https://conda-forge.org/#add_recipe

If it was of interest, I could work on submitting the download library to conda-forge and add you as a collaborator on the resulting repo/keep you in the loop on the submission PR.

Otherwise, we may need to drop the download library as a dependency to get EarthPy deployed to conda-forge.

What do you think @choldgraf - d

[2019-03-01 21:59] lwasser commented on #250
it actually works for me when i install from master. it doesn't work from pip. so i can't try the fix because that would have to be pushed to pip! it is a duplicate tho!!

[2019-03-01 22:07] mbjoseph commented on #250
If you delete the line `include_package_data=True` from setup.py locally on the master branch, does everything still work for you?

[2019-03-01 22:30] lwasser commented on #250
@mbjoseph why do i need to reinstall the entire environment? i just installed and uninstalled earthpy . when i install from pip i get the error. when i install it locally via master branch `-e .` it seems to work. removing that line from `setup.py` doesn't seem to impact the local install.

[2019-03-01 22:33] mbjoseph commented on #250
Great - glad to hear that deleting that line still works locally. That's what I suspected based on https://stackoverflow.com/questions/7522250/how-to-include-package-data-with-setuptools-distribute

As far as why to reinstall the whole environment - that probably wasn't 100% necessary but just wanted to be sure that you were working with a fresh installation. I will submit a PR that removes this l

[2019-03-01 23:00] lwasser commented on #245
@joemcglinchy can you try to do

1. `pip uninstall earthpy` and then
2. `pip install earthpy`

and let us know if it works? @mbjoseph just submitted a fix and i pushed to pypi!! i ran into the same error on my mac as did gina li on circle ci!

[2019-03-01 23:24] choldgraf commented on #249
one must be possible to specify dependencies that are only installable via `pip` in a conda forge project. People do all kinds of crazy stuff with conda forge, and since conda also ships with pip, it must be possible to say "when you run `conda install earthpy` also run `pip install download`". Did you double check this?

Otherwise, I am happy to try figuring this out

[2019-03-01 23:28] mbjoseph commented on #249
I assumed one could include dependencies that were only installable via `pip` too, until I was unable to get earthpy's conda-forge recipe to work, and then read this: https://github.com/conda-forge/staged-recipes#6-do-all-of-my-packages-dependencies-have-to-be-in-conda-forge-already

[2019-03-01 23:31] choldgraf commented on #249
sigh. hmm ok I can look into this further, it will be a little bit of time though because I'm a few grant deadlines

[2019-03-01 23:35] mbjoseph commented on #249
Thanks @choldgraf - let me know if I can help!

[2019-03-04 15:35] joemcglinchy commented on #245
I couldn't test this on the machine that was seeing the issue (desktop was shut off for the move while I was out of town). However, I just tested this on my laptop in an environment which did not previously have Earthpy installed. Import is successful and data folder exists. Thanks #251 Closing!

[2019-03-04 15:35] #245 closed

[2019-03-04 15:48] lwasser commented on #245
yay!!

[2019-03-04 15:48] lwasser commented on #250
closing this as well!!

[2019-03-04 15:48] #250 closed

[2019-03-04 15:49] lwasser commented on #242
@mirob9363 i think you worked on this issue. can you please
1. check off what you have addressed in the list above and
2. link to a PR that you made that addressed this issue (if one exists?)

[2019-03-04 19:05] mirob9363 commented on #242
`earthpy.plot.draw_legend` was addressed in the PR https://github.com/earthlab/earthpy/pull/246
`earthpy.plot.make_col_list` is addressed in the open PR https://github.com/earthlab/earthpy/pull/252

[2019-03-04 21:58] mbjoseph commented on #112
@lwasser I have some updated experiments across a range of number of polygons, with the caveat that `clip_shp` and `overlay` do not do the same thing, which prevents a one-to-one speed comparison.

For example - if we generate random circles over Colorado counties like this:

![circles-over-colorado](https://user-images.githubusercontent.com/2664564/53764700-37db3580-3e8b-11e9-8a46-b4fa1d870c44.pn

[2019-03-04 22:16] lwasser commented on #112
Thank you @mbjoseph !! To make the operations compariable you'd run `unary_union` on the intersection object (the one that is doing the clipping so the circles in this case). Clip clips a set of features to the geometric / spatial extent of another set of features. it does not intersect them as defined! we are trying to mimic typical arcgis behavior!

`gpd_out = gpd.overlay(pts.unary_union, counti

[2019-03-05 01:38] mbjoseph commented on #112
Thanks @lwasser I see now how the unary union can be used to get equivalent output.

Just to be clear: is the comparison you want between `clip_shp()` and a function like the one below, as the number of polygons in `to_clip` (the number of polygons being clipped) increases?

[code]

[2019-03-06 17:52] mirob9363 opened #253 "plot.draw_legend fails when classes provided"
**Describe the bug**
The `draw_legend` function is not allowing classes to be passed in.

**To Reproduce**
Example can be found in Earth Analytics lesson:
https://github.com/earthlab/earth-analytics-lessons/blob/master/courses/earth-analytics-python/08-multispectral-remote-sensing-fire/in-class/2017-03-01-fire02-calculate-NBR-with-landsat-Python.ipynb

**Expected behavior**
Use input classes for l

[2019-03-06 17:52] mirob9363 commented on #253
@lwasser Can you please look at this?

[2019-03-06 19:05] lwasser commented on #236
@joemcglinchy @nkorinek and i chatted about this a bit more today. he is going to provide an example here of how the function could work but right now we are considering

1. having an argument to allow multi-part polys. this would ensure that users know we are "messing" with the geometry on the back end so there are no surprises
2. If that argument is `True`, then we will
   - explode the multi ge

[2019-03-06 22:45] joemcglinchy commented on #236
sorry for the late reply guys! I think the above does sound reasonable. Is the reassembly of single-part to multi-part via index something straightforward to do in geopandas? Would you use `multipart
 = singlepart.dissolve(by='index')`?

[2019-03-07 15:39] lwasser commented on #236
oooh @nkorinek i think found a slightly different approach. he was going to look into options.
 @joemcglinchy example looks very straight forward. does that work Nathan??

[2019-03-07 19:49] nkorinek commented on #236
I'll try it out with my example code and see if that restores the polygons to their original states. Looks really good and promising!

[2019-03-07 21:42] nkorinek commented on #236
Alright, I have done a fair amount of poking around, and here is what I've found.

It is possible to get the data back into it's original state. To clip a multipart feature and change it back, a few steps are necessary. Before exploding the dataframe, it is good to store the columns with

`cols = df.columns.tolist()`

Explode reorders the columns, so to put them back in the right order after the e

[2019-03-07 22:11] joemcglinchy commented on #236
@nkorinek can you elaborate by what you mean for the pointer location? do you mean location in memory?

[2019-03-07 22:14] joemcglinchy commented on #236
i did a test with the ne_roads dataset, recording which rows contained MULTILINESTRING in the geometry column, stored in a list called `mp_inds`. Using those geometries (`mp_subset`), I ran the following code:

[code]
which returns `False`. However, if I check the geometries with this block of code:

[code]
I get GEOMETRYCOLLECTION EMPTY for each one, suggesting that the geometries are equal.

[2019-03-08 20:21] mbjoseph opened #254 "EarthlabData.get_data(url = ...) may be broken"
**Describe the bug**

The use of the `url` argument to the `get_data` method of the `EarthlabData` class seems to not be working. I have tried a variety of URLs that point to different kinds of files and I always get a `KeyError` when trying to access the `content-disposition` field in the header of the response.

**To Reproduce**

Using a URL to a zip file raises the `KeyError`.

[code]

[code]

[2019-03-08 20:41] mbjoseph commented on #254
An update: I noticed now that I can get this to work for data on fig share by not providing a URL directly to the URL, e.g.,

[code]

rather than

[code]

I'm going to close this, and will update the docs & tests to reflect this intended usage.

[2019-03-08 20:41] #254 closed

[2019-03-11 19:23] mbjoseph opened #257 "RuntimeWarning for 20+ figures opening when running tests"
Currently we get a warning when running tests because we are opening too many figures, e.g., https://travis-ci.org/earthlab/earthpy/jobs/504853552#L1476

[code]

[2019-03-11 20:09] mirob9363 opened #258 "plot_bands title parameter not working properly"
**Describe the bug**

`plot.plot_bands` title parameter not working properly. I am using a string input title, but I am getting the following error.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [lesson 2](https://github.com/earthlab/earth-analytics-lessons/blob/master/courses/earth-analytics-python/07-multispectral-remote-sensing-in-python/01-multi-spectral-remote-sensing-pyt

[2019-03-12 12:32] mbjoseph commented on #257
Solved by #256

[2019-03-12 12:32] #257 closed

[2019-03-12 19:03] mbjoseph opened #259 "Do we need earthpy.utils.fix_paths?"
The `fix_paths` function in `earthpy/utils.py` seems like a carry-over from website build logic. Can we remove this from EarthPy?

[2019-03-12 19:03] lwasser opened #260 "HIllshade needs tests"
@jlpalomino  is working in this see. https://github.com/earthlab/earthpy/pull/210

[2019-03-12 19:24] lwasser commented on #259
oh totally. that is a no brainer. i'll submit a PR now!!

[2019-03-12 19:29] #260 closed

[2019-03-12 19:31] lwasser commented on #242
ok closing this!! thank you @mirob9363 !!!

[2019-03-12 19:31] #242 closed

[2019-03-12 19:42] lwasser commented on #259
Closing this as the PR was just merged!! Thank you for creating this issue @mbjoseph !!!

[2019-03-12 19:42] #259 closed

[2019-03-12 19:50] lwasser commented on #253
@mirob9363  thank you for this PR!! can you kindly provide a link to a notebook where you IMPLEMENTED the actual `draw_legend()` functionality and it failed so i can look at that? This might mean linking to the notebook on a branch you are working on!

Thank you

[2019-03-12 19:56] lwasser commented on #253
@mirob9363 Also this notebook uses old deprecated earthpy functions. So please do the following

1. update the notebook so that it is using the most current code.
2. Post a link to that and ideally pull out the code that is not running properly and also what error you are getting

Ping me when this is done!

[2019-03-12 20:08] lwasser commented on #258
Similarly @mirob9363 please link to a notebook that actually has the changed code implemented so I can run it and see what is happening. Alternatively you can provide the code needed to reproduce the error (this is actually more ideal). then i can run it in pycharm without worrying about notebooks.

[2019-03-12 20:30] lwasser commented on #258
ok @mirob9363 i was able to reproduce this issue. Here is the code that would have made this issue much easier for me to trouble shoot:

[code]

[2019-03-12 20:44] lwasser commented on #258
please see pr: https://github.com/earthlab/earthpy/pull/263

[2019-03-12 21:52] lwasser commented on #144
Closing this as we merged a PR today related to this topic with an associated issue and tests and such!

[2019-03-12 21:52] #144 closed

[2019-03-14 19:15] mbjoseph commented on #154
We can document this by wrapping the existing `epsg` object in a function with a docstring. The wrapper will return what is currently used to define `epsg`.

See `earthpy/__init__.py` for where this should happen.

[2019-03-14 19:30] lwasser opened #265 "Create new vignette 1: Landsat mask / stack, histograms, plot_rgb"
The steps for this vignette are:

1. open some ?landsat tif files
2. mask the data using the cloud_qa layer
3. plot_RGB() -- rgb or cir

?? Where do we get the data from ?? Cold springs fire??

[2019-03-14 19:31] lwasser opened #266 "Create new vignette #2 -- open, stack, NDVI"
1. open landsat data
2. stack the data
3. calculate ndvi
4. plot ndvi  w colorbar
5. classify ndvi
6. plot w draw legend

for now use the cold springs fire data `et.data.get_data("coldsprings-fire")`

[2019-03-14 19:34] lwasser opened #267 "Vignette #3: Stack and crop image"
This vignette will be used to discuss the complexity associated with stacking and cropping. cropping requires a `rasterio` object.

[2019-03-14 19:35] mbjoseph commented on #183
Closed after moving this into #267, #266, and #265

[2019-03-14 19:35] #183 closed

[2019-03-14 19:39] #199 closed

[2019-03-14 19:44] mbjoseph commented on #203
## Things to add:

1. Links to the vignettes
2. Links to the API docs (but call this something that a new user could identify as important)
3. Update module descriptions to reflect new structure
4. Improve the installation instructions (e.g., use `environment.yml` to set up dependencies)

[2019-03-14 19:52] mbjoseph opened #269 "Clean up API documentation"
To make the API docs easier to find:

- Change "API reference" to "Package Reference"
- Link to each submodule like

[code]

[2019-03-14 20:01] mirob9363 commented on #253
This example should work (or not work I guess) to demonstrate the issue:
[code]

[2019-03-14 20:46] lwasser opened #270 "Replace """ with " in multiline error messages"
Throughout the earthpy package we've been using `"""` for multi-line docstrings. however it seems like usin single quotes on each line is better. let's convert all text strings on multiple lines to single quotes like this:
[code]
TO
[code]

[2019-03-18 15:45] #185 closed

[2019-03-18 16:48] mbjoseph commented on #228
#244 gives us testing on Windows, and the last step for this issue is to add CI testing for OS X.

[2019-03-18 20:40] lwasser opened #274 "Plot Bands Updates"
Plot_bands could be a nice way to automagically plot 1 or more bands in a raster with a title. Currently there are a few quirks with it

- [x] When you provide a single title it seems to print the title in a list (see below). It's also not rendering the line breaks properly
[code]
<img width="892" alt="Screen Shot 2019-03-18 at 2 33 12 PM" src="https://user-images.githubusercontent.com/7649194/545

[2019-03-18 21:18] lwasser commented on #274
Single band that is normalized with a colorbar
<img width="932" alt="Screen Shot 2019-03-18 at 3 17 52 PM" src="https://user-images.githubusercontent.com/7649194/54564295-08e7b800-4991-11e9-91d2-d9b0c2954590.png">

[2019-03-19 14:54] lwasser commented on #274
I have addressed all of the above EXCEPT the mpl message. for now the fix is using `plt.show()`
But the PR associated with this issue includes adding the cbar, allowing for scaling of both the arr and the cbar and turning bytescale on and off as needed.

[2019-03-20 16:22] mirob9363 opened #276 "_create_mask helper function not checking for values correctly"
**Describe the bug**
When I am trying to call `mask_pixels`, I am getting the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
use this code (data from the cold-springs-fire) to create the issue:
[code]

This code is taken from the [Earth Analytics Python week 8 lesson](https://www.earthdatascience.org/courses/earth-analytics-python/multispectral-remote-sensing-modis/clou

[2019-03-20 16:23] mirob9363 commented on #276
@lwasser can you take a peak at this? There must be some issue with how the `_create_mask` helper function is checking to see if the values are in the pixel qa layer.

[2019-03-20 17:31] lwasser commented on #276
This is really unusual behavior. Essentially what is happening is _create_mask is MODIFYING the input parameter. This doesn't make sense to me but as a fix i ensured that a copy of the input array was created in the function to avoid any intentional modifications to the original object.

[2019-03-20 17:50] lwasser commented on #253
this issues should be resolved given the PR was just merged!!  @mirob9363 just a note that draw_legend should work now!! :)

[2019-03-20 17:50] #253 closed

[2019-03-20 17:53] lwasser commented on #154
closing this via the above merged PR!

[2019-03-20 17:53] #154 closed

[2019-03-20 23:22] lwasser commented on #276
ok - i have looked into this and the behavior that we are seeing is expected!! i have implemented a fix and merged it via pr #277 referenced above. closing this for the time being!!

[2019-03-20 23:22] #276 closed

[2019-03-20 23:23] lwasser opened #279 "Sphinx Gallery implementation"
My current WIP PR has sphinx gallery implemented and a start at a plot vignette -- please see

https://github.com/earthlab/earthpy/pull/272

[2019-03-21 15:36] lwasser opened #280 "get_data() should support other compressed types (.gz)"
In this pr
https://github.com/earthlab/earthpy/pull/264#issuecomment-475095319
@mbjoseph is removing the download dependency from earthpy so we can move to conda-forge. however while testing this PR i noticed that .gz was not supported. Once the pr is merged, we should consdier adding support for all of the following file types that are commonly encountered:

. zip - DONE
.tar.gz - done
.gz

and a

[2019-03-21 18:20] mbjoseph opened #281 "earthpy.plot.plot_bands() extent argument is untested"
`plot_bands()` has an argument `extent` that can control the plotting extent, but this feature is currently untested.

[2019-03-21 20:11] mirob9363 commented on #253
Great! I'll update and try it out.

[2019-03-21 22:22] nkorinek opened #282 "Bug with ep.plot_rgb(stretch=True)"
**Describe the bug**
When plotting landsat RGB bands with `plot_rgb()`, I tried to apply a stretch, since the image was "washed out". When I did `ep.plot_rgb(array, stretch=True)`, I get a warning saying "RuntimeWarning: overflow encountered in short_scalars: crange = cmax - cmin".

Addionally, `es.bytescale()`, which is used in `ep.plot_rgb()`, gives the following error that stops the plot: "Valu

[2019-03-22 03:30] mbjoseph commented on #112
@lwasser can you take another look at this? I wanted to confirm that the function above is the one you want to use as a comparison with our current implementation.

Performance aside, if we can remove the dependency on rtree, that would be a win from an installation standpoint!

[2019-03-22 20:49] #228 closed

[2019-03-22 22:03] lwasser commented on #281
i added this test in the pr referenced above!

[2019-03-22 22:03] #281 closed

[2019-03-22 22:04] lwasser opened #284 "read the docs build for earthpy is failing quietly"
Earthpy currently does not have a RTD yml file that will create a custom envt to support building earthpy docs. This file was added but then hte build began to fail quietly - the envt wouldnt complete install.
It seems like geopandas discovered a similar issue - see:

* https://github.com/geopandas/geopandas/pull/932
* https://github.com/rtfd/readthedocs.org/issues/5220

A few things to try includ

[2019-03-22 22:13] lwasser commented on #282
this is a great issue @nkorinek  very specific. we will look into it - likely next week!!! thank you

[2019-03-22 23:10] lwasser commented on #282
in this case, @nkorinek if you set na values to masked as follows, does it work for you?

[code]
it works for me. it seems as if the -9999 value is throwing things off. @joemcglinchy looping you in here.. we might need to think about

1. adding an option to mask na values in stack. this could be as simple as a call to `np.ma.where()`
2. Thinking about how we use bytescale for these types of applic

[2019-03-23 00:24] lwasser commented on #274
CLosing this issue as the core elements were addressed in the merge PR. i haven't addressed the mpl messages yet but that could be a future enhancement.

[2019-03-23 00:24] #274 closed

[2019-03-23 00:25] lwasser commented on #258
This has been resolved [via this issue](https://github.com/earthlab/earthpy/pull/263)

[2019-03-23 00:25] #258 closed

[2019-03-25 18:56] lwasser commented on #284
closing this as the build seems to be working now given the updates.

[2019-03-25 18:56] #284 closed

[2019-03-25 22:58] lwasser commented on #265
@mirob9363 just a note that i've been working on this due to error trouble shooting so i've added my name to the task!! see #272  for the code that implements the vignette!!

[2019-03-25 23:58] lwasser commented on #232
I am going to close this issue as it's not been active for over a month! @bibinwil please re-open it if you have tried the above suggestions and it's still not working for you!
`pip install earthpy` should also work at this point!

[2019-03-25 23:58] #232 closed

[2019-03-25 23:59] lwasser commented on #37
closing this issue as we have resolved everything in the google doc at this point!!

[2019-03-25 23:59] #37 closed

[2019-03-26 17:00] mbjoseph opened #289 "setup.py still specifies download library as a dependency"
Right now the setup.py file still specifies the download library as a dependency. This should have been removed in #264.

All that needs to happen with this is to remove "download" from the `install_requires` argument in setup.py.

[2019-03-26 18:17] joemcglinchy opened #291 "plot_rgb with masked array returns error on dtype"
**Describe the bug**
when passing in a 3 band masked array to `earthpy.plot.plot_rgb()` an error is returned regarding dtype of the numpy array not being appropriate.

**To Reproduce**
Steps to reproduce the behavior:
the following code:

[code]
`ep.plot_rgb(np.ma.masked_equal(arr, -9999)` returns: ValueError: 3-dimensional arrays must be of dtype unsigned byte, unsigned short, float32 or float64

[2019-03-26 18:29] lwasser commented on #291
ahhhh @joemcglinchy just out of curiosity are you running earthpy 0.6.4? i can't recreate this issue! but i believe it is likely an issue just can't recreate it.

[2019-03-26 18:43] joemcglinchy commented on #291
i am running earthpy 0.6.4, yes.

[2019-03-26 19:12] #289 closed

[2019-03-26 19:36] lwasser opened #292 "CRS import issue with earthpy"
Windows 10

When i import earthpy 0.6.4  (`import earthpy as et`) i get the following error:

[code]
Note that i've seen this issue with fiona and rasterio (if you google it) but am not sure what the fix is. just adding this here for the time being as something that might pop up.

[2019-03-27 14:10] mbjoseph commented on #112
Alright @lwasser have a look at this gist: https://gist.github.com/mbjoseph/75e40aed8627ee69b8b505124b50a69e

I compared the current clip function with the one above. I'm fairly sure that this is the comparison you wanted to make. The rtree approach is slightly faster when many polygons are being clipped (e.g., about 1.2x faster for 1000 points, and 1.3x faster for 10,000 points.

[2019-03-27 15:54] lwasser commented on #112
am i misreading this @mbjoseph
<img width="591" alt="Screen Shot 2019-03-27 at 9 48 46 AM" src="https://user-images.githubusercontent.com/7649194/55090927-8be5ce00-5075-11e9-91f7-42e78d9c6672.png">
it looks like the "new function" is faster as # poly's increases? perhaps i'm misreading this!

So i'm hearing that you'd like to remove rtree . i'm fairly surprised that geopandas isn't using rtree - i

[2019-03-27 15:56] lwasser commented on #112
there is also the other issue which rtree helps with - geopandas overlay doesn't handle lines. just polygons.

[2019-03-27 16:32] mbjoseph commented on #112
@lwasser the y-axis is execution time: the new function is **slower** than the current function, particularly as the number of polygons being clipped increases. So, if we are optimizing for performance we want to **keep** using the rtree approach.

[2019-03-27 16:53] lwasser commented on #112
ok great. yes let's keep it then if we can. i went that route after a good bit of testing because i read it was the fastest option and would be particularly beneficial as the data got larger.

[2019-03-27 16:55] mbjoseph commented on #112
Sounds good!

[2019-03-27 16:55] #112 closed

[2019-03-27 17:10] lwasser commented on #292
note sure if this is related - [travis](https://travis-ci.org/earthlab/earthpy/jobs/512048024#L920) warning

[code]

[2019-03-27 20:28] lwasser commented on #282
As a resolution to this

1. fix bytescale to coerce to dtype float for range calculation
2. add notes to the `plot_rgb` docs to ensure users remove the no data value before plotting -- could reference a vignette
3. add nodata to stack -- see #293

[2019-03-27 20:33] lwasser opened #295 "We need to bump version + UPDATE CHANGE LOG"
Leah forgot!

[2019-03-27 20:34] lwasser commented on #295
conda forge pulls from pypi so i have to release

[2019-03-27 20:35] mbjoseph opened #296 "Specify python version for PyPI uploads"
In the .travis.yml file we do not currently point to any particular python version, which seems to lead to failures e.g., https://travis-ci.org/earthlab/earthpy/builds/511121943

We may need to specify a particular version e.g., https://github.com/earthlab/streamstats/blob/master/.travis.yml#L15-L24

[2019-03-27 20:50] lwasser commented on #181
this would be cool but no.

[2019-03-27 20:50] #181 closed

[2019-03-27 20:53] lwasser opened #297 "We need to update contributors"
Do we want maintainers??
# Maintainers:
* Leah
* Joe
* max
* jenny

Currently the list of contributors is out of date.
We could parse the git logs (carpentries do this) or just manually

* list of contributors here

https://github.com/earthlab/earthpy/blob/master/CONTRIBUTORS.rst

astropy -- http://www.astropy.org/team.html has a pretty nice contributors page

[2019-03-27 20:56] lwasser commented on #230
maybe for the time being we just maintain tagged issues "bugs" and people can search.

[2019-03-27 20:56] #230 closed

[2019-03-27 20:58] lwasser commented on #279
we are on board with this approach! this will get closed when #272 is merged

[2019-03-27 21:57] #269 closed

[2019-03-27 22:05] lwasser commented on #292
i was able to install earthpy on windows. do you have rasterio 1.0.22 @joemcglinchy ? i'm on 1.0.21

[2019-03-27 22:07] lwasser commented on #296
i just added a commit to fix this @mbjoseph see - 2fcb177240a11d3d8af49b50348d89da9fceaea1 i did it directly which is bad form but i can only test deployment here i think??

[2019-03-28 18:02] mbjoseph opened #298 "EarthPy's license is not distributed with the package"
Our conda-forge build is failing because the LICENSE file for EarthPy is not distributed with the package. We can ensure that the LICENSE file is bundled up with our source code by using a MANIFEST.in file.

Examples:

https://github.com/geopandas/geopandas/blob/master/MANIFEST.in
https://github.com/mapbox/rasterio/blob/master/MANIFEST.in
https://github.com/pypa/sampleproject/blob/master/MANIFEST.

[2019-04-01 16:05] mbjoseph commented on #296
Cool - thanks @lwasser that seems to have fixed it! I see that we have v0.6.5 on PyPI and on our releases page.

[2019-04-01 16:05] #296 closed

[2019-04-01 21:00] lwasser commented on #295
@mbjoseph  do you want me to bump again now?
If that get-started PR and the plot-rgb one gets approved we can bump with the new docs and the bug fixes. but if we want to wait i can bump now too!! just lemme know.

[2019-04-01 22:29] mbjoseph commented on #295
@lwasser yes it would be great to deploy to PyPI so that we have the README and LICENSE being distributed with the package. Thanks!

[2019-04-01 23:34] #298 closed

[2019-04-01 23:49] mbjoseph commented on #279
Closed with #272

[2019-04-01 23:49] #279 closed

[2019-04-02 20:24] mbjoseph commented on #249
EarthPy is now live on conda-forge: https://github.com/conda-forge/earthpy-feedstock

@choldgraf we ended up using requests instead of the download library to get the conda-forge deployment up quickly, due to some issues we were having with conda installation issues across platforms for the teaching environment.

[2019-04-02 20:24] #249 closed

[2019-04-02 21:18] mbjoseph commented on #295
Solved with https://github.com/earthlab/earthpy/releases/tag/v0.6.6

[2019-04-02 21:18] #295 closed

[2019-04-02 21:20] lwasser commented on #291
@joemcglinchy just curious -- is this still an issue after the updates to `plot_rgb()` ??

[2019-04-02 21:22] lwasser commented on #282
@nkorinek  we have made some updates to plot_rgb that should resolve this issue. Can you please test it o your computer?? and if it's resolved, we can close this issue!

[2019-04-02 22:07] joemcglinchy commented on #291
I will give it a go!

[2019-04-02 22:28] lwasser commented on #291
wonderful! and we have bumped the version to 0.6.6  which will have those changes. i'm not sure if it actually fixes your issue ofcourse but worth a try

[2019-04-02 23:04] lwasser commented on #270
last pr to address this was merged!!

[2019-04-02 23:04] #270 closed

[2019-04-02 23:06] lwasser commented on #265
this has been merged!! @mirob9363 please note that this task is done and i'm closing this issue!!

[2019-04-02 23:06] #265 closed

[2019-04-02 23:08] choldgraf commented on #249
sounds good to me

[2019-04-03 15:18] nkorinek commented on #282
@lwasser Hey, I've just updated earthpy and tested it again on my computer, but the same thing is still happening. I tried setting the na values like you recommended, and that didn't seem to do the trick either. It's still very washed out when I plot it without the prior bytescale modification.

[2019-04-03 16:18] nkorinek commented on #282
Update: It works fine, the error was on my end :)

[2019-04-03 16:19] nkorinek commented on #282
Closing issue since the error has been resolved @lwasser @joemcglinchy

[2019-04-03 16:19] #282 closed

[2019-04-03 16:45] lwasser opened #302 "Time to update the readme with better install instructions"
The current readme

* still references the old pip install from github instructions
* doesn't mention conda-forge (yay!)
* is outdated.

Update the readme to present a friendly overview of how to install and use EarthPy

[2019-04-04 14:30] mbjoseph commented on #302
@lwasser here's a checklist I stole from https://github.com/noffle/art-of-readme

- [x] One-liner explaining the purpose (A package that makes it easier to plot, and manipulate spatial data in Python.)
- [ ] Necessary background context & links (e.g., we wrote this package because xyz...)
- [ ] Potentially unfamiliar terms link to informative sources
- [x] Installation instructions
- [ ] Clear, ru

[2019-04-04 21:59] lwasser commented on #219
this is done!!

[2019-04-04 21:59] #219 closed

[2019-04-04 21:59] lwasser commented on #203
this is also done!!

[2019-04-04 21:59] #203 closed

[2019-04-04 22:37] lwasser opened #306 "Vignette #4 -- Plot_rgb vignette"
Let's make a vignette on the `plot_rgb()` function that shows
1. how to select different bands to plot band combinations like CIR, RGB
2. how to play with the stretch
3. show how you can use plot bands in a multi panel axis setup

`f, (ax1, ax2) = plt.subplots()...`

we can use @nkorinek stack / crop vignette as a starting place without needing the crop part.

[2019-04-04 23:05] nkorinek opened #308 "Add crop argument to es.stack() ?? OR update crop_image to support numpy arrays"
Currently, there are two functions you have to use to stack a raster, and then crop is to the size of a GeoPandas dataframe, `es.stack()` and `es.crop_image()`. There functions both work really well, however, there are some awkward steps between them that could be cleaned up if we implemented a crop argument in `es.stack()`.

The current workflow can be seen in my rough draft of a stack/crop vigne

[2019-04-04 23:08] nkorinek opened #309 "Make a custom data folder for the vignettes"
Right now, we are using `et.data.get_data()` data for the vignettes, and making it work. However, there are sometimes when this is less then ideal, such as having to use `cs-test-landsat` data, which is mostly intended for private use. If we curated some data just for the vignettes we could simplify them and make the data perfect for our examples.

[2019-04-04 23:41] lwasser commented on #218
this has been implemented as well!! closing!!

[2019-04-04 23:41] #218 closed

[2019-04-04 23:49] lwasser commented on #302
i think that for the usable examples, we should build out vignettes and link to them directly. i've started this process. then each time we add a vignette we can update the readme!

[2019-04-08 20:32] mirob9363 commented on #308
Yes, I agree! I am working through the Earth Analytics Python course lessons, and I have found times that the code could be cleaned up a lot if either `crop_image()` could take more than just rasterio objects, or if a crop option was added to `es.stack()`.

[2019-04-09 21:26] lwasser commented on #308
ok... lets rope in @joemcglinchy here...
i just posted on the rasterio discussion forum and one person provided this example

https://github.com/corteva/geocube/blob/582ea0c2f3f0ba91326de098b75412e5033bee21/geocube/xarray_extensions/rioxarray.py#L617

of a way to potentially crop an array without having to read and write another raster object. ideally we would do this instead of making stack() mor

[2019-04-09 21:31] lwasser commented on #308
so maybe this is a better option ... to update crop_image to support a rasterio datasetreader OR a numpy array with associated meta.

[2019-04-10 16:30] joemcglinchy commented on #308
Thanks for pinging me @lwasser! I agree, we should keep the stack and crop workflows separate. Otherwise we go down the path of overparameterizing (is that a thing?) some of the earthpy functionality. Best to keep it simple and modular.

I had a look at @nkorinek's vignette, and I think it may be able to be changed a bit to use the code as it is currently designed. For instance, starting at line:

[2019-04-11 21:16] lwasser commented on #302
ok i am closing this given the above merged PR. if there are other readme items that require updates, let's open a shiny new issue!!

[2019-04-11 21:16] #302 closed

[2019-04-11 21:17] lwasser commented on #308
ok... this is the google doc where the various approaches are discussed!!

https://docs.google.com/document/d/199Z3zyclQQPCVWF4m8-gienT6KViauMveMi9O_wnghM/edit#

[2019-04-11 22:37] lwasser opened #313 "ANOTHER plot_rgb bug - multi panel plots don't render properly (they are empty)"
Well it turned out that in fixing plot_rgb i broke multi-panel functionality. Essentially when setting up multi-panel the 2nd-nth panels would render empty. THe fix is  via #312 where plt.show() was being called and that rendered an empty axis as in python axis objects render one at a time.

[2019-04-11 23:05] lwasser opened #314 "plot_bands vs single image plot"
Well -- currently we have a function called plot_bands that will plot several bands in a stacked numpy array. this worked well but recently i've been using it for single band plots too. However there is a limitation as currently designed where when plotting one band, you may want to overlay another layer (say a fire boundary or something else) on top of that band. Or you might also want to plot in

[2019-04-11 23:09] lwasser commented on #314
Here is an example of what plotting looks like now
[code]

Adding this functionality would make it look like this:
[code]

[2019-04-11 23:20] lwasser commented on #314
this issue relates to this PR: https://github.com/earthlab/earth-analytics-lessons/pull/266 in the lessons. merging that PR for the time being but worth revisiting this in the future.

[2019-04-12 16:33] lwasser opened #315 "Create Vignette -- plot_bands"
Create a vignette that shows how to use plot bands to

1. plot multiple bands with one call or
2. plot a single band with a colorbar with scale turned on or off...

[2019-04-16 20:53] #266 closed

[2019-04-26 23:59] mirob9363 commented on #207
I believe this issue was addressed in PR #246

[2019-05-08 14:47] lwasser commented on #306
hey @jlpalomino  checkin in on the status of this vignette!!
Also when you make it will you please link to it in the readme as well?

[2019-05-08 14:51] lwasser commented on #291
@joemcglinchy following up on this issue. i haven't been able to recreate it. Is it still a bug with the new version of earthpy? if so are you willing to submit a PR to fix it and a test that will also reproduce it to catch it for future ?

[2019-05-08 14:52] lwasser commented on #267
[This pr](https://github.com/earthlab/earthpy/pull/307) addresses this issue. it needs a review however!

[2019-05-08 15:02] lwasser opened #318 "EarthPy was just submitted to pyopensci!"
https://github.com/pyOpenSci/software-review/issues/3

yay!

[2019-05-08 15:03] joemcglinchy commented on #291
just ran this code, it produces the following with earthpy 0.6.8!

![image](https://user-images.githubusercontent.com/4762214/57385720-2efb2e80-7170-11e9-92a3-722be5698a78.png)

Closing.

[2019-05-08 15:03] #291 closed

[2019-05-09 18:30] lwasser opened #319 ".io module tests failing sometimes"
**Describe the bug**
hey @mbjoseph  we are having issues with some of the io tests failing intermittently.  i can restart the build and often it fixes things. it is (i think) related to downloaded things but i'm not sure.

https://travis-ci.org/earthlab/earthpy/jobs/529901318

could you have a look? the link above is a mac build so it's not the best example. when this happens again i will be sure

[2019-05-09 18:39] lwasser commented on #291
awesome!! so glad this is fixed @joemcglinchy  thank you for submitting the issue!!

[2019-05-09 18:41] lwasser commented on #314
this has been addressed with the PR merged. closing!!

[2019-05-09 18:41] #314 closed

[2019-05-09 18:59] mbjoseph commented on #319
@lwasser these tests hit figshare over the internet to check http responses and/or download files. Sometimes connectivity issues cause test failures. Some ideas with pros & cons include:

1. **Skip the tests if no internet connection is detected**. This will not handle cases where figshare's servers are having issues, but might help if most of the errors result from connectivity issues on Travis'

[2019-05-09 19:21] mbjoseph commented on #319
We decided to go with option 2 - I can look into this and submit a PR.

[2019-05-09 19:35] lwasser commented on #236
Leah will add some screenshots of the plots associated wtih this.

[2019-05-09 19:45] lwasser commented on #308
https://www.python.org/dev/peps/pep-0020/

CONCLUSION: let's add a list option to `crop_image()` ...

[2019-05-09 20:29] lwasser commented on #236
# Code
[code]

Below are the original data:

![image](https://user-images.githubusercontent.com/7649194/57483984-2a647200-7265-11e9-9c40-2706a84e03d0.png)

## When you clip the data you get the following:
The output is 4 objects - two are polygons but two are lines
![image](https://user-images.githubusercontent.com/7649194/57484114-77484880-7265-11e9-98ef-054610764f16.png)

[code]
Right now clip r

[2019-05-13 15:39] lwasser commented on #319
thanks @mbjoseph  just merged this PR and will close the issue!!

[2019-05-13 15:39] #319 closed

[2019-05-14 19:21] lwasser commented on #315
@nkorinek i'd like for you to work on this vignette next! it looks like you are done with the other vignette!!  are you game??

[2019-05-14 19:26] nkorinek commented on #315
@lwasser Ya I can totally make this! I'll get started right away.

[2019-05-14 19:32] nkorinek commented on #236
[This pr](https://github.com/earthlab/earthpy/pull/317) addresses this issue, but it is still in active review.

[2019-05-14 21:14] nkorinek commented on #315
Vignette created in [this pr](https://github.com/earthlab/earthpy/pull/321), still needs review!

[2019-05-20 18:24] jlpalomino commented on #309
@lwasser @mbjoseph In order to both have nodata values and cover the Cold Springs fire boundary, the resulting cropped Landsat bands are approximately 85 MB. I have placed them on figshare and added the url to DATA_URLS.

[2019-05-20 18:29] lwasser commented on #309
@jlpalomino thank you . can you please add a link here to the figshare repo?
@nkorinek can you please test out the new data subset with your submitted vignette?

[2019-05-20 18:38] jlpalomino commented on #309
@nkorinek It may be best to test this by actually adding the following to DATA_URLS in earthpy/io.py:
[code]
Then, updating landsat_bands_data_path to ```"data/vignette-landsat/...```.

[2019-05-20 18:40] jlpalomino commented on #309
@lwasser  One more thing to consider for the crop data vignette is that the Cold Spring fire boundary is currently in a different figshare repo, the one for "cold-springs-fire".  Would you like me to include this fire boundary in the "vignette-data" repo, so that the vignette uses only one figshare download?

[2019-05-20 18:40] lwasser commented on #309
heya @jlpalomino get_data accepts url's now. so nathan can just download using the `url=` parameter and it should work perfectly without updating the actual code of the package!!

[2019-05-20 18:41] lwasser commented on #309
yes please include it @jlpalomino  it should all be in the same repo. i get there is some data redundancy but we do want the subsets to be self-contained!!

[2019-05-20 18:49] jlpalomino commented on #309
@lwasser Great on both!  The figshare repo has now been updated to include to Cold Springs fire boundary. @nkorinek New URL for updated vignette data: https://ndownloader.figshare.com/files/15197339

[2019-05-20 18:55] lwasser commented on #309
woo hoo. thank you @jlpalomino  this is awesome. @nkorinek i believe will be in again tomorrow and can test this out for us. Tell me. Do your vignettes use this subset already? or is there vignette updating that we need to consider implementing given this update?

[2019-05-21 13:24] #309 closed

[2019-05-21 16:22] #318 closed

[2019-05-21 16:23] lwasser commented on #313
this was resolved via https://github.com/earthlab/earthpy/pull/312 . not sure why it isn't marked as merged here.

[2019-05-21 16:24] #313 closed

[2019-05-21 16:24] lwasser commented on #236
thanks @nkorinek i think we are close to merging it too!!

[2019-05-23 16:49] lwasser opened #329 "New Vignette - hillshade"
@nkorinek please make a new vignette that highlights the hillshade function.

you can use the spatial-vector-lidar data- there are some NEON lidar dem / chm files in there.

What would be cool is to have the final plot be an overlay with a hillshade on the bottom and you could color the canopy height model by height.

https://www.earthdatascience.org/courses/earth-analytics-python/lidar-raster-dat

[2019-05-23 16:55] lwasser opened #330 "Update the NDVI vignette with the new smaller vignette data"
just say the word if the data won't work.

The vignette is here:

https://earthpy.readthedocs.io/en/latest/gallery_vignettes/plot_calculate_classify_ndvi.html#sphx-glr-gallery-vignettes-plot-calculate-classify-ndvi-py

[2019-05-23 16:56] nkorinek opened #331 "Vignette for histograms"
Create a vignette exploring the functionality of `ep.hist()`.

[2019-05-23 16:56] lwasser commented on #236
merged!!!

https://github.com/earthlab/earthpy/pull/317

[2019-05-23 16:56] #236 closed

[2019-05-23 16:58] lwasser opened #332 "Look at earthpy docs -- are there vignettes that would be helpful / that we should have ?"
Give the docs a review @nkorinek
are there workflows that we should capture that would show people functionality in earthpy?

For example, do we show anything about clip for shapefiles?

[2019-05-23 19:33] lwasser opened #333 "Add Crop all images function to earthpy"
function name:
*  `crop_all`
*****************
* `crop_image_list`
*  `crop_list`
* `crop_images`
*  `crop_allthethings`
* `bulk_crop` or `crop_bulk`
* `crop_all_images`
* `batch_crop` :(
* `sir_crop_a_lot`
* `crop_wad`
****************
this WILL  confuse the user:
so we are creating a new function
[code]

[code]
 so we should create a new function!
****************
it will use: `crop_image`
param

[2019-05-23 19:33] lwasser opened #334 "Add test to stack that all images have the same transform parameters"
add another test / functionality that tests in stack that all images have the same "transform" object

hey @joemcglinchy we want to test each image to ensure the transform is the same

[2019-05-23 19:54] lwasser commented on #333
## Tests for this function
********
* output files are actually created
* they are overwritten or not depending on the parameter value
* a bad working director is flagged - returns an error
* test number of output files
* test that it writes a valid file
* making sure it fails when the crop_ext is in a diff CRS or the extent don't overlap
* if we have a verbose argument -- test that the printed ou

[2019-05-23 19:58] lwasser opened #335 "Do we need to ever get to 1.0 or do we want python hipster points??"
just sayin...
http://0ver.org/

[2019-05-24 13:51] lwasser opened #337 "RTD: docs are not building currently but RTD is aware of it and working on a fix (increasing our resource allocation)"
just a note that docs are not building but it's a RTD resource thing. Hoping they will help us adjust resource so the build works. the alternative is to make our envt install using pip rather than conda.

keep tabs on the open issue below:

https://github.com/rtfd/readthedocs.org/issues/5719

[2019-05-24 15:38] lwasser commented on #267
closing via closed https://github.com/earthlab/earthpy/pull/307

[2019-05-24 15:38] #267 closed

[2019-05-24 16:05] lwasser commented on #330
complete!

[2019-05-24 16:05] #330 closed

[2019-05-24 16:07] lwasser commented on #315
closing this via this merged pr https://github.com/earthlab/earthpy/pull/321

[2019-05-24 16:07] #315 closed

[2019-05-24 17:01] lwasser commented on #308
ok closing this -- given we've opened up -- https://github.com/earthlab/earthpy/issues/333  to create a crop function that handles a list of files!!

[2019-05-24 17:01] #308 closed

[2019-05-24 17:18] #306 closed

[2019-05-24 19:49] lwasser opened #338 "Add Nathan to zenodo"
i'd like to add @nkorinek as a contributor to earthpy

https://github.com/earthlab/earthpy/blob/master/.zenodo.json

Nathan -- this file needs to be updated for this to happen. Are you game to add yourself ??
@jlpalomino to update this file, should we add roles (i know we have been talking about this).?

[2019-05-24 20:30] jlpalomino commented on #338
@lwasser It seems that we decided to have creators and contributors (whose type would be ```Other```; [see example](https://github.com/earthlab/earth-analytics-open-gis-python-workshop/blob/master/.zenodo.json)).  You can see the other contributor types on this [help page](https://help.zenodo.org/guides/search/).

[2019-05-28 16:24] nkorinek commented on #338
@lwasser @jlpalomino I'm game to do this, but a quick question first. All of the existing contibutors have an `orcid` value that is unique to all of them. What is this value and where would I find it?

[2019-05-28 16:54] nkorinek commented on #333
@lwasser @joemcglinchy @jlpalomino @mbjoseph question about this function: what should I do with the metadata returned by crop image? Currently, the function returns a list of paths that point to the images (which is really just the path that the user input in the first place to specify the file names). Should I return the paths in a tuple with the metadata for each image? Should I take one image'

[2019-05-28 17:24] lwasser commented on #333
@nkorinek let's think about this. you are cropping a bunch of images -- and writing them. will it return numpy arrays? because if it doesnt (and maybe it shouldnt), then i think we just want to return a list of paths? if this function simply JUST WRITES out all of the images with the intention of stacking after in a separate this could make sense.

[2019-05-28 18:00] nkorinek commented on #333
@lwasser I forgot that `es.stack()` was in the workflow. That will return a rasterio profile which should give access to the metadata object. The function currently returns a list of paths, but the list of paths is one of the inputs for the function. So it feels weird returning the unmodified input. But it makes sense that that's what it would return.

[2019-05-28 18:26] lwasser commented on #333
i think so. we could have a `verbose` parameter what a user could use to mute that ouput. but i think telling them where the files are written is a good idea.

because the default would be `dir/path/path/filename_crop.tif` correct? so it would be useful for them to see "hey i wrote things out here" but then have `verbose = False` as an option to turn that off.

[2019-05-28 18:27] lwasser commented on #338
@nkorinek you should create an orcid id for yourself. google it. it will allow you to link ALL of your work to that id rather than worrying about emails and other contact information that changes over time.

[2019-05-28 18:30] nkorinek commented on #333
I could implement the verbose argument! But ya the default would be a list of filepaths that point to the newly created files. It will be identical to the list they provide in the inputs parameter, as we decided we wanted them to supply a list of file names, not a directory. But you're right, I think it does make since for it to return that list again, just workflow wise it makes sense, and then y

[2019-05-28 18:35] nkorinek commented on #338
Huh, cool! I've never heard of that. I'll do that, thanks!

[2019-05-28 19:20] lwasser commented on #333
totally @nkorinek i think we might want two sets of options.

1. the user provides a dir_path. in that instance you will return a list of output file names which will deconstruct the original name and append `_crop`
2. the user provides a list of filenames with a full path.

Each option has the same function return. however they will be implemented differently depending upon what the user provides

[2019-05-28 19:30] nkorinek commented on #333
I think that makes sense @lwasser !

[2019-05-30 14:59] nkorinek commented on #338
Taken care of in this PR: https://github.com/earthlab/earthpy/pull/339

[2019-05-30 15:10] lwasser commented on #338
closing this!!!

[2019-05-31 16:47] mbjoseph opened #343 "Migrate documentation to GitHub pages"
Given the ongoing issues with RTD, we may want to move our docs over to a gh-pages branch (similar to https://github.com/ioos/erddapy).

This would mean that Travis-CI builds and pushes the documentation to a gh-pages branch. To get this to work, it looks like we'd need to modify the build matrix in `.travis.yml` to add an item for the docs build, then modify the `.travis/test.sh` script to check

[2019-05-31 16:55] lwasser commented on #343
thank you @mbjoseph !! this also relates to [this issue here](https://github.com/earthlab/earthpy/issues/337) if we develop this workflow i'll move away from RTD completely and tell him he doensn't have to allocate more resources to us.. Even if he provides the allocation i think we've spent enough time on fixing building docs with RTD even tho they build just fine locally!   :) phew.

[2019-05-31 23:20] lwasser commented on #343
@mbjoseph so out of the blue just now both packages docs built successfully via rtd. Why dont we keep this issue open for now but monitor things. If they go down again for a long period of time, let's consider moving to a local build. They must have updated something today. Matplotcheck is working again too.i didnt touch anything to fix docs today.

[2019-06-04 19:35] joemcglinchy commented on #334
Please see #344 . This has updates tests/fixtures and code for:

1) mismatched affine transforms (i.e., more than one unique affine transform in list of sources)
2) mismatched CRS (i.e., more than one unique CRS in list of sources)
3) mismatched image dimensions (i.e., more than one unique set of [rows,cols] in list of sources)

[2019-06-04 21:55] lwasser commented on #337
RTD has been updated!! closign this

[2019-06-04 21:55] #337 closed

[2019-06-06 16:02] #338 closed

[2019-06-06 16:27] lwasser opened #357 "Update stack-crop vignette to use the crop_all function!"
Update this vignette to use crop_all
https://github.com/earthlab/earthpy/blob/master/examples/plot_raster_stack_crop.py

[2019-06-06 16:28] #335 closed

[2019-06-06 18:35] lwasser opened #358 "Can i remove pandas from dev-requirements?"
hey @mbjoseph @joemcglinchy it doesn't seem like we need pandas in the dev-requirements as it should install with geopandas and also it's core to anaconda i think?? any thoughts on this? pybot is encouraging me to reduce dependencies via a dozen PR's!

https://github.com/earthlab/earthpy/blob/master/dev-requirements.txt

any thoughts on removing it?

[2019-06-06 19:12] mbjoseph commented on #358
Yeah let's get rid of it!

[2019-06-06 19:18] lwasser commented on #358
oh thank goodness for that!! :)

[2019-06-06 21:41] nkorinek commented on #329
@lwasser I have the data subset I need but I need to make a link to it and I'm not sure how

[2019-06-07 17:13] lwasser commented on #329
@nkorinek please tell me more.
Are you suggesting that you would like to create a new data subset that we can use for this vignette? So we might add it to earthpy as a key and to figshare as a zip file? IF that is the case i can add it to figshare, give you the link and you can add it to earthpy via a pr!!  i just need the files that you'd like to add!!

[2019-06-10 15:04] lwasser commented on #334
closing this via #344  !!!

[2019-06-10 15:04] #334 closed

[2019-06-11 20:25] nkorinek commented on #357
Addressed here https://github.com/earthlab/earthpy/pull/342

[2019-06-11 21:12] nkorinek commented on #333
Addressed in this pr: https://github.com/earthlab/earthpy/pull/342

[2019-06-11 21:13] nkorinek commented on #329
Addressed in this pr: https://github.com/earthlab/earthpy/pull/361

[2019-06-13 16:27] #358 closed

[2019-06-13 16:40] lwasser opened #367 "Add week 13 twitter data to earthpy"
@nkorinek can you add a new key using this link

https://ndownloader.figshare.com/files/10960175

to earthpy?
key can be called `twitter-flood`

[2019-06-13 16:57] lwasser opened #368 "Vignette Update - add crop_image to NDVI vignette"
LEt's make a few changes to the vignettes and add `crop_image`

1. remove this bullet - `Crop raster bands to a study area` from the readme
2. update `Stack raster bands from data such as Landsat into an easy to use numpy array` to be `Efficiently crop and stack a set of raster files using earthpy`
3. Update [this vignette](https://earthpy.readthedocs.io/en/latest/gallery_vignettes/plot_calculate_

[2019-06-13 17:02] lwasser opened #369 "Create a new RST file that documents io"
You can find the data subsets in our figshare repo.

https://figshare.com/authors/_/3386570

to add a new page you reate a new rst file in this dir: https://github.com/earthlab/earthpy/tree/master/docs

[2019-06-13 17:53] nkorinek commented on #367
done here https://github.com/earthlab/earthpy/pull/370

[2019-06-13 20:24] nkorinek commented on #368
After looking into this for a while, I've run into some speed bumps I could use some advice for. `es.crop_image()` only takes rasterio object, which in turn have to be created from a tif file. In order to just crop the final NDVI image, I would have to write it out to a geotiff file and then open it with rasterio. Thoughts on this? Do we want to add that into this workflow? @lwasser

[2019-06-14 15:29] lwasser commented on #368
@nkorinek why don't you crop the images when they are imported? that makes more sense given we want to work with the smallest dataset possible? then you can calculate NDVI on already cropped images.

[2019-06-14 15:29] lwasser commented on #368
this means instead of using `.read()` for each file you import you use `es.crop_image()`

[2019-06-18 17:00] nkorinek commented on #369
Addressed in https://github.com/earthlab/earthpy/pull/371

[2019-06-18 17:01] nkorinek commented on #333
@lwasser we can probably close this issue now!

[2019-06-18 17:02] nkorinek commented on #331
Addressed in https://github.com/earthlab/earthpy/pull/366

[2019-06-18 18:20] lwasser commented on #333
oh you are so right!! closing. thank you for all of your work @nkorinek !!!

[2019-06-18 18:20] #333 closed

[2019-06-18 19:35] nkorinek commented on #368
Looked at in https://github.com/earthlab/earthpy/pull/372

[2019-06-18 22:07] lwasser commented on #329
closing given the merged pr. thank you @nkorinek !!!

[2019-06-18 22:07] #329 closed

[2019-06-18 22:08] lwasser commented on #357
closing this issue via the merged PR #342  !!

[2019-06-18 22:08] #357 closed

[2019-06-18 22:09] lwasser commented on #367
closing this as well via #370 !!!

[2019-06-18 22:09] #367 closed

[2019-06-18 22:10] lwasser commented on #177
@jlpalomino we have so many other things to do and the hillshade calculation i think works pretty well. i'm going to close this issue for now and we can address it in the future IF we have some free time to work on this. :) i don't think it's necessary given things work now!

[2019-06-18 22:10] #177 closed

[2019-06-20 20:03] nkorinek commented on #368
It's been decided that we are going to add `es.crop_image()` to the `plot_raster_stack_crop` vignette instead, as it matches the vignette's workflow much better, and would be where users are more likely to find it.

[2019-06-20 21:12] nkorinek commented on #368
changed pull request to https://github.com/earthlab/earthpy/pull/374

[2019-06-27 16:31] #368 closed

[2019-06-27 20:18] nkorinek commented on #332
@lwasser like we mentioned in this issue already, we don't have any vignette for the clip functionality of earthpy at all. Do we want that?

We also don't have any vignette that covers `ep.make_col_list()`, `ep.colorbar()`, `es.extent_to_json()`, `es.bytescale()`. These are all rather minor functions, the only one that we might want to try and add into a vignette somewhere would be `ep.colorbar()`

[2019-06-28 14:43] lwasser commented on #332
@nkorinek very good point.

Clip we absolutely want to include in the vignettes!! i agree colorbar could be good as well. Do you think colorbar might fit into one of the existing vignettes? possibly the draw legend one?? the other functions are more helper functions - i agree... BUT.. actually extent_to_json could be used in the clip vignette. that was why it was initially created!!

[2019-06-28 20:25] #331 closed

[2019-06-28 20:25] #369 closed

[2019-07-02 19:32] lwasser commented on #332
closing this and will open an issue to create a clip vignette

[2019-07-02 19:32] #332 closed

[2019-07-02 19:33] lwasser opened #378 "Create Clip vignette and potentially a small data subset that can be clipped"
Please create a new vignette that demonstrates the clip functionality in earthpy (clipping vector data).

[2019-07-11 17:10] nkorinek opened #381 "Add thumbnails to the plot bands and plot histograms vignettes"
Hey @lwasser ! While looking at the documentation available on read the docs, I noticed that somehow the vignettes for plot bands and plot histograms don't have thumbnails. It would be a really easy fix, I was wondering if I could make a quick PR that would add thumbnails to these vignettes?

[2019-07-11 17:21] nkorinek commented on #378
@lwasser Hey, quick question! When we were talking about creating a clip vignette, you mentioned we could incorporate `es.extent_to_json()` in the clip vignette. I've been having issues with this, as `ec.clip_shp()` doesn't accept arguements that aren't GeoPandas objects. After reviewing the documentation for `es.extent_to_json()`, I believe it was meant to be used with raster cropping, not vector

[2019-07-11 17:38] nkorinek commented on #381
After looking into this a bit more, I actually have a few questions. I noticed that both of these vignettes had `# sphinx_gallery_thumbnail_number = 5` above a plot in the code, but no thumbnail shows up for them. After looking around, I also noticed that vignettes such as plot rgb and draw legend don't have that line of code in them at all, but still have thumbnails on the readthedocs page. Any g

[2019-07-11 20:14] lwasser commented on #381
hmmmm i'm not sure why a thumnail would not render @nkorinek let's look at this more closely next week !!?

[2019-07-12 18:13] lwasser commented on #378
@nkorinek i believe you are correct. don't worry about incorporating that function. just focus on clipping points, lines and polygons!! :)

[2019-07-17 22:36] lwasser opened #385 "et.data.get_data with url and path doesn't return expected behavior"
**Describe the bug**
Currently i would expect get_data to download the data folder in the given path.
However, instead it placed the data in the given path in an `earthpy-downloads` dir and then returns an incorrect path. It's probably ideal to set the path for download directly in the call after url rather than force the user to set the path manually via `et.data.path`. also the path returned is

[2019-07-18 16:38] nkorinek opened #387 "Fix recursive issue with colorado-flood data"
When `et.data.get_data("colorado-flood")` is called, it downloads the data within two recursed "colorado-flood" folders. There should only be one folder that contains the data. @lwasser

[2019-07-18 23:34] lwasser commented on #387
ok i shoulda updated the changelog. this should be fixed now but lemme update the change log now!!

[2019-07-18 23:34] lwasser commented on #387
pr #388

[2019-07-23 17:08] nkorinek commented on #387
@lwasser I just checked that this issue has been updated on my pc, and it works fine! This issue can be closed now.

[2019-07-23 20:25] lwasser commented on #387
awesome! thanks @nkorinek  closign now!!

[2019-07-23 20:25] #387 closed

[2019-07-25 19:34] nkorinek opened #390 "Issue with histogram function dealing with 1 dimensional arrays"
Hey!

I was attempting to use `ep.hist()` to plot a 1 dimensional array and I found an issue with the code. When I was trying to plot the array, the code would run without error, but not histogram would pop up. I couldn't figure out what the issue was, but upon expecting the `ep.hist()` code, I noticed that it never checks that the array has at least two dimensions. There is an `if /elif` statemen

[2019-07-25 20:43] lwasser commented on #390
* install earthpy into the ea-python envt interactively `pip install -e .`
* update the code in earthpy /
* go back to the notebook, restart the kernel, and rerun cells

- [ ] Handle single dim arrays  if `arr.ndim <= 2` :
   ravel() if arr.ndim==1
- [ ] handle masked arrays- `if ma.is_masked(rgb_bands):`

arr == (masked array)
`arr[~arr.mask]`
*******
- [ ] some parameters are not available

* hi

[2019-07-25 22:23] nkorinek commented on #390
The first half is in this pr right now: https://github.com/earthlab/earthpy/pull/391 . It still needs tests written for it.

[2019-07-25 22:38] lwasser commented on #390
ok great! i have more info on the `**kwargs` item but we should discuss it further!

[2019-08-01 18:28] lwasser opened #396 "Make sure earthpy.get_data has documentation for url="
is there a vignette that covers the get_Data function?? we should create one if not.
- [x] show how to view all keys associated with data downloads via earthpy
- [x] link to the data subset docs: https://earthpy.readthedocs.io/en/latest/earthpy-data-subsets.html

- [x]  Talk about how the download by default creates the `earth-analytics` directory
- [x] show how you can use `url=` to download a fi

[2019-08-19 14:42] lwasser commented on #381
i just noticed @nkorinek that there are no thumbnails for a bunch of the vignettes now.

https://earthpy.readthedocs.io/en/latest/gallery_vignettes/index.html

let's see if we can clean this up when you are back!!

[2019-08-19 14:43] lwasser commented on #378
@nkorinek i just had a look at the clip vignette again. i noticed that it only clips lines and does not clip points of polygons. can you please update it to demonstrate all three? If in that process if we need to create a new dataset with all three that is smaller, let's do that.

[2019-08-19 14:44] lwasser commented on #343
i am closing this for the time being as RTD has been working lately for us.

[2019-08-19 14:44] #343 closed

[2019-08-19 14:45] lwasser commented on #292
closing this as it hasn't been an issue since march... but we can reopen if it occurs again.

[2019-08-19 14:45] #292 closed

[2019-08-19 14:50] lwasser commented on #381
my suspicion as to why this isn't working is:

`# sphinx_gallery_thumbnail_number = 5`

the number here refers to the plot number in the vignette. i think it was set to 5 when there weren't 5 plots in the vignette to begin with. if after the docs render that thumbnail appears, @nkorinek that is the fix for all of the vignettes!!

[2019-08-20 19:40] lwasser commented on #390
this has been implemented!! closign

[2019-08-20 19:40] #390 closed

[2019-08-20 19:42] lwasser commented on #378
Let's hold off on this until i clarify with joris about handing the data

https://github.com/geopandas/geopandas/issues/821

[2019-08-29 16:25] lwasser opened #409 "Add alpha parameter to plot_bands"
it would be ideal to be able to do:

[code]

[code]

so essentially we just need to add alpha as a parameter.

[2019-08-29 16:32] lwasser opened #410 "Add alph to hist () function"
Currently alpha is randomly set:

https://github.com/earthlab/earthpy/blob/master/earthpy/plot.py#L513

it's set to .8 which is totally random! let's add an alpha parameter and set it to 1 by default and users can adjust if they want!

[2019-08-29 18:19] lwasser opened #413 "Docs build error -- clip vignette"
when trying to build the docs, i run itno an issue:

[code]

the example vignette tries to import a data file that doesn't seem to exist in the build. Please have a look at that vignette and let me know @nkorinek if the data exist in the earthpy download!

[2019-09-04 00:23] lwasser opened #418 "Add norm parameter to plot_bands"
right now we use norm a lot in our lessons. add this to plot_bands.

- [x] add test for norm
- [x] add test for alpha

[2019-09-05 16:48] lwasser commented on #410
This has been completed via #412

[2019-09-05 16:49] #410 closed

[2019-09-05 16:49] lwasser commented on #409
completed via #412

[2019-09-05 16:49] #409 closed

[2019-09-19 16:12] lwasser commented on #418
this is being addressed in #421

[2019-09-19 16:13] lwasser commented on #381
this has been fixed!!!

https://earthpy.readthedocs.io/en/latest/gallery_vignettes/index.html

[2019-09-19 16:13] #381 closed

[2019-10-17 19:22] lwasser opened #429 "Move Clip Module to Geopandas!!"
https://github.com/geopandas/geopandas/pull/1128/files

@nkorinek please help me finish up this pr!!

- [x] respond / address open comments that are unresolved
- [x] add the clip data vignette (but use geopandas data OR make some data to avoid the earthpy dependency)

[2019-10-17 19:28] #418 closed

[2019-10-19 03:45] sgillies opened #432 "Because of rtree, earthpy pip installs on OS X aren't complete"
**Describe the bug**

Earthpy depends on rtree, which requires libspatialindex, which is not provided by the wheels on PyPI. Until the rtree wheels do include their own requirements, it's on projects like earthpy to explain the dependency.

[2019-10-22 23:00] lwasser commented on #432
ahhhhh @sgillies gosh i didn't realize this was an issue. it must be that libspatialindex was installing for us automagically in the dev environment.

Can you help me understand how you'd like to see this dependency explained?

i see in the rtree readme

https://pypi.org/project/Rtree/

it just calls it out as a dependency. is that the type of thing that you are looking for here?

Again many thank

[2019-10-24 03:36] sgillies commented on #432
Yes, I think that would be a good start. But because earthpy is intended to be higher level, for users who aren't necessarily C programmers or sysadmins (like rtree's original audience), some additional documentation may be good.

Someone who is new to Python and doesn't know what libspatialindex is or where they can get it is in for a hard time when they try to install earthpy from PyPI. Could yo

[2019-10-24 03:56] sgillies opened #433 "Explain relationship that earthpy has or doesn't have to commercial software?"
Earthpy explains its relationship to lower-level open source packages like rasterio and geopandas well: it builds on top of them to make some common tasks easier and gives its user more leverage. In reviewing earthpy for https://github.com/pyOpenSci/software-review/issues/3 I wonder if earthpy needs or doesn't need to explain how it relates to commercial software widely used in the higher ed resea

[2019-10-24 04:09] sgillies opened #434 "Within et.data.get_data(), consider using Python's logging instead of print()"
Context: https://github.com/pyOpenSci/software-review/issues/3

When get_data() is called, text is printed to stdout.

[code]

On the one hand, some feedback to users is a good thing. On the other hand, library functions should avoid printing to stdout and should use Python's logging facility instead so that users have more control over the output.

[2019-10-24 04:14] sgillies opened #435 "Consider a more specific/unique directory for tutorial data"
Context: https://github.com/pyOpenSci/software-review/issues/3.

Downloaded tutorial data is saved to a `earth-analytics/data` directory in the user's home directory.

[code]
An `~/.earthpy` directory would be more like other projects like pip, which creates a `~/.pip` directory on OS X.

[2019-10-24 04:18] sgillies opened #436 "Change hillshade's keyword arguments to azimuth and altitude?"
Context: https://github.com/pyOpenSci/software-review/issues/3.

Could the keyword arguments of https://github.com/earthlab/earthpy/blob/16b428827415453c654cc93a366f356a42c9d3c7/earthpy/spatial.py#L559 be made more consistent by changing them to azimuth and altitude and dropping the `angle_` prefix for the latter?

[2019-10-24 04:29] sgillies opened #437 "Reconsider exceptions raised in validating clip_shp args"
Context: https://github.com/pyOpenSci/software-review/issues/3.

In clip.py:clip_shp, the two args are validated in this way:

[code]

One school of thought (see Brett Slatkin’s Effective Python) is that earthpy should raise a package-specific exception here where the error arises from improper earthpy usage. Something like

[code]

Alternatively, raise TypeError from the first test and ValueError

[2019-10-24 15:20] lwasser commented on #432
@sgillies do you mean just encourage installation from conda rather than pip? i think that conda is the best way to install given all of the other spatial dependency issues ! you are correct in that we assume our audience are NOT c programmers. we use this package with students who are quite new to programming in general!!

so documentation could say something like.. we suggest that you install ea

[2019-10-24 15:33] lwasser commented on #433
hi @sgillies !! this is a great question and i'd love to better understand what you are thinking!

What types of commercial software are you thinking about? Like GIS type GUI based tools ??

We modeled earthpy after the `raster` and `sp` packages in `R`. These tools made is a lot easier to handle spatial manipulations in the R language that that didn't' seem to exist for python!

As far are commer

[2019-10-24 15:40] lwasser commented on #436
totally @sgillies we can do that!! i'm going to allocate some time today and tomorrow to work on these issues!!

[2019-10-25 15:22] sgillies commented on #432
@lwasser totally reasonable 👍

[2019-10-25 15:26] sgillies commented on #433
@lwasser I think it would be very good if the R packages this is modeled after were mentioned, and if I read the intent of the package correctly, that earthpy is intended for interactive use in a notebook. If earthpy wasn't meant to replace or integrate with commercial software, then no need to mention any.

[2019-10-25 15:33] sgillies commented on #434
That said, I scanned the package and this is the only use of print that I could find. If earthpy is mostly for interactive active use in a notebook and not for developing non-interactive programs, calling print from get_data is harmless. Feel free to close this one.

[2019-10-25 17:13] mbjoseph commented on #433
Hi @sgillies and @lwasser! Some thoughts here:

- I agree we should mention the R packages that inspired EarthPy. Both `raster` and `sp` are wrappers around lower level libraries, but provide a higher level of abstraction, which makes them a bit less flexible but perhaps easier to use for beginners. EarthPy is similar in this sense.
- We tend to use EarthPy in notebooks (in the classroom), but it

[2019-10-25 20:36] lwasser commented on #436
this has been implemented @sgillies !! closing but please reopen if our implementation is not what you intended!! #438 addresses this.

[2019-10-25 20:36] #436 closed

[2019-10-25 21:29] lwasser commented on #433
ok i have a PR open and i'll add a bit more text to the readme about the inspiration for earthpy as it aligns with the R packages!!

[2019-10-25 21:39] lwasser commented on #434
hey @sgillies yes we mostly intend get_data to be used in an interactive environment.  so perhaps we shouldn't modify this now but note that in the future if users want to use it more in a non interactive environment, we may want to get rid of the print statements?

the other option is to set `verbose=False` for non interactive applications? is that bad practice?

[2019-10-25 21:50] lwasser commented on #435
hey there @sgillies !!! all of this feedback is so helpful.
In this particular case, we have a teaching application where we are trying to teach students to manage data on their computers. so we have everyone setup a structure that is `earth-analytics/data`. we also have a lesson portal (earthdatascience.org) where lots of people go and work through our lessons... having  `get_data` create the int

[2019-10-25 21:53] lwasser commented on #437
oh interesting!! We are submitting this clip module now to geopandas: https://github.com/geopandas/geopandas/pull/1128 so i think we should definitely consider this in that PR!! we will remove it from here once they merge but i and @nkorinek are still working on the pr.

I will make sure this is addressed in that PR however so will leave this open for the time being!

[2019-10-26 16:43] HaoZeke opened #443 "[pyOpenSci] Citation details"
# Citation
This is part of https://github.com/pyOpenSci/software-review/issues/3.
I note that the code currently has a zenodo doi. So it would be pertinent to add a bibtex formatted citation in the readme.

[2019-10-26 17:21] HaoZeke opened #444 "[pyOpenSci] Contributing Guideline Formatting"
# Harmonize Format
This issue is part of the ongoing review process https://github.com/pyOpenSci/software-review/issues/3.
Parts of the `contributing.rst` file appear to be in markdown syntax. Please fix this.

![image](https://user-images.githubusercontent.com/4336207/67623474-34922100-f843-11e9-9275-b74d31b1bfdd.png)

[2019-10-27 01:41] sgillies commented on #434
The option is good, but logging (where the default stream is stderr) would be even better. The situation that we want to prevent is where someone writes a script with earthpy that prints data to stdout (used like `python myscript.py > data.geojson`) and it has data download messages interleaved with the JSON text output.

[2019-10-27 01:45] sgillies commented on #435
@lwasser showing students how to organize their data is a great goal. I only wanted to point out that ~/.earthpy is a bit more safe from being clobbered by other software, security by obscurity. It could be too obscure, though. I don't think this issue is a blocker at all, so feel free to close it up if you like.

[2019-10-28 15:23] lwasser commented on #435
got ya @sgillies i appreciate this. i think for this particular application in our classes it might be best to stick with that path. but i hear you on the safety issue and will definitely consider it!! if you are ok with my closing this particular issue, i will. again i'm so thankful for all of this input. i'm learning a lot!!

[2019-10-28 15:23] #435 closed

[2019-10-28 16:03] #396 closed

[2019-10-28 16:22] lwasser commented on #434
thank you again, @sgillies ok i did some reading on this and started a PR

https://github.com/earthlab/earthpy/pull/448

does this approach seem reasonable? OR what would you implement here? in this case i printed if `verbose=True` (which is a default) but used `logging.info` if it's false. Please know this particular concept is new to me SO if i am implementing it incorrectly please do say the wo

[2019-10-28 23:30] lwasser commented on #444
@HaoZeke this was implemented here: https://github.com/earthlab/earthpy/pull/449 !! closing but feel free to reopen if you are not satisfied with the changes!!

[2019-10-28 23:30] #444 closed

[2019-10-28 23:31] lwasser commented on #443
i've added a link to the bibtext format in the readme!! i didn't want to copy the citation verbatim in case someone wanted to cite a particular version. please let me know what you think. closing but please reopen if you are not satisfied @HaoZeke !!!

[2019-10-28 23:31] #443 closed

[2019-10-28 23:31] lwasser commented on #433
this has been merged!! if you are not satisfied with the changes @sgillies please reopen this issue or i'm happy to do so and work on it a bit more!!

[2019-10-28 23:31] #433 closed

[2019-10-28 23:32] lwasser commented on #432
ok closing this as well as it was addressed in #440. please reopen if you'd like to see more explanation @sgillies !!

[2019-10-28 23:32] #432 closed

[2019-10-29 16:34] sgillies commented on #434
@nkorinek yes, changing the log level within the function is a good approach. Instead of configuring the root logger, I think the project should set the level of the module's logger `logging.getLogger(__name__).setLevel(logging.INFO)`. This will increase earthpy's verbosity only and not add noise from requests or other modules.

[2019-10-29 16:38] nkorinek commented on #434
@sgillies that looks much cleaner, cool!

[2019-11-04 23:36] lwasser commented on #434
ok thank you again for this suggestion @sgillies  for the time being i'm going to close this and the associated PR. but perhaps we will revisit it in the future if it becomes a real problem for people using the package!! your input and review has been greatly appreciated!! THANK YOU!

[2019-11-04 23:36] #434 closed

[2019-11-12 00:56] lwasser opened #453 "broken docs link"
https://travis-ci.org/earthlab/earthpy/jobs/610618362?utm_medium=notification

it looks like there is a broken link in our docs.

https://figshare.com/articles/Earth_Analytics_Cold_Springs_Fire_Remote_Sensing_Data/6083210

except it works for me to better to test again tomorrow just in case figshare is spotty right now?

[2019-11-12 01:00] lwasser commented on #453
it just worked again locally so rebuilding on travis.

[2019-11-12 17:01] lwasser opened #454 "Finalize joss submission"
earthpy is almost through full review.
for joss we need to ensure that

1. all authors on the paper are also on the zenodo release. Thus @betatim needs to be on the paper which he should have been from the beginning anyway!! and
2. the release name needs to match the paper.

[2019-11-13 23:21] #454 closed

[2019-11-13 23:22] lwasser commented on #453
docs are working now. this was just a fluke internet thing i think. closing

[2019-11-13 23:22] #453 closed

[2019-11-13 23:23] lwasser commented on #413
this issue is no longer relevant given we have redone the clip vignette and given it to geopandas as a part of #429 closing now.

[2019-11-13 23:23] #413 closed

[2020-01-15 21:21] lwasser opened #475 "Clip vignette is failing upon build"
if you run the plot_clip.py vignette with the most recent version of geopandas and earthpy it is failing when you plot the data. The failure message is below. it's oddly not failing when i build docs locally but i see the issue when i run the code.

[code]

[2020-01-16 04:58] #475 closed

[2020-01-22 19:54] lwasser opened #479 "Add custom legends with plot_bands"
Right now you need to use core MPL to create a custom legend with earthpy.
it would be much nicer if you could simply call a custom legend from within plot_bands.

[code]

[2020-01-29 01:17] lwasser opened #480 "clip is moving to geopandas but we should test to ensure that the CRS is retained after all of the clipping happens."
i'm opening this here just as a reminder for myself to check on the geopandas side.

[2020-01-30 02:11] lwasser opened #483 "Earthpy docs improvement - crop_image"
the docstring of crop_image

Help on function crop_image in module earthpy.spatial needs soem work
1. the vignette in the docs both reads and crops the data which is not necessary.
2. the parameters should more explicetly say "rasterio rasterReader object" the precise name of the object so it's more clear to users what it expects
[code]

[2020-02-11 18:46] lwasser opened #487 "plot bands by default scales the data -- this is pretty annoying in general so we should consider the most common use case."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What Operating System Are you Runnin

[2020-02-19 23:56] lwasser opened #493 "Stack() doesn't mask array when a file path is provided"
**Describe the bug**
This is really weird. in the [week 6 demo notebook](https://github.com/earthlab-education/spring-2020-course-notebooks/blob/master/in-class-demos/wk06-multispectral-remote-sensing-demo.ipynb), when you provide an output path for stack it does NOT return a masked array. But when you do provide a path it DOES return a masked array. This is not the expected behavior.

**To Reprod

[2020-03-05 17:31] lwasser opened #498 "PyProj is unhappy and breaking ci"
the crs format has changed so we need to fix our docs and such to represent the new format!

[2020-03-06 18:05] lwasser commented on #498
This was resolved via #497

[2020-03-06 18:05] #498 closed

[2020-03-06 18:06] lwasser commented on #429
This has been complete!! Clip is in the most recent .7 version of geopandas now!! All we need to do now is deprecate from earthpy and update our lessons on earthdatascience.org

[2020-03-06 18:06] #429 closed

[2020-03-06 18:07] lwasser commented on #437
We have officially moved clip to geopandas and its active in version .7!! Closing this. Thank you again @sgillies for your review and input!!!

[2020-03-06 18:07] #437 closed

[2020-03-22 09:22] rlzijdeman opened #507 "earthpy not installed via pip"
**Describe the bug**
Using `pip install earthpy` or `pip install earthpy --upgrade` I get the following error:
[code]
**To Reproduce**
pip 20.0.2 from /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pip (python 3.8)

**Expected behavior**
I have read the recommendation to use Anaconda. I am reluctant to install that because it. will lead to various versions of Python

[2020-03-23 17:34] draycottwheeler opened #508 "Incompatible lib versions"
**Describe the bug**
Unable to run any code that uses the matplotlib.pyplot package

**To Reproduce**
Steps to reproduce the behavior:
1. `import matplotlib.pyplot as plt`
2. run code
4. See error

**What Operating System Are you Running? **
 - Mac

**Additional context**
I have upgraded / updated both packages - libtiff and libwebp without luck

[2020-03-24 22:44] lwasser commented on #508
hey @draycottwheeler welcome to earthpy!
this is not the matplotlib repo nor is it the [earth-analytics-python envt repo](https://github.com/earthlab/earth-analytics-python-env/). it looks to me as if this is an envt related issue so i'll transfer it over to that repo now. IN the meantime, can you please provide the outputs of conda-list (afte this has been moved)?

[2020-03-24 22:47] lwasser commented on #507
hi @rlzijdeman i'll try to reproduce this locally but we do not support pip installations of earthpy. the spatial libraries are complex and GDAL often yields errors when using pypi. let me see however if i can reproduce what you are getting above on my mac.

[2020-03-24 23:04] lwasser commented on #507
@rlzijdeman can you please do the following:

run conda info and provide the output here.

then run conda list and provide the output here.

that error interestingly enough looks like it's related to python 2.x which does not support the encoding parameter in the setup file. I'm just curious what your environment looks like now.

Also can you provide the output of

`which python` in bash

and when

[2020-03-24 23:26] lwasser commented on #507
i may see the issue. it's actually not earthpy it's rtree that is difficult to install via pip. we may be able to remove it from the setup which should fix your install. let me do a bit more testing here but we may be able to simply remove this dependency altogether. geopandas does not require it.

[2020-03-25 00:28] lwasser commented on #378
closing this given CLIP is now in geopandas and we don't need this in earthpy

[2020-03-25 00:28] #378 closed

[2020-03-25 00:29] lwasser opened #510 "DEPRECATE clip"
Clip is now in geopandas. so we can deprecate it from earthpy and remove all tests.
this should allow us to completely drop rtree as a dependency which causes significant pip install issues see #507

[2020-03-25 16:18] lwasser opened #512 "Earthpy Get_data key for twitter data is incorrect"
**Describe the bug**
If you try to download the twitter-flood data, get_data fails returning:
To me, it looks like it's trying to unzip a file that is not a zip file.

[code]

**To Reproduce**
[code]
This data should just download into the twitter-flood folder. But instead it can't seem to download.

[2020-03-25 16:19] lwasser commented on #480
@nkorinek can you please test this. if clip returns an object with a crs then we can close. in our package it doesn't which is why i wanted to check in geopandas before closing this.

[2020-03-25 16:25] lwasser commented on #512
note that i noticed in earthpy the data are classified as a .zip file. So i changed it to "file" but it's still throwing an error. Note @nkorinek when you test this co-flood-extras also has two files. so we will want to ensure that all keys with files that are not zipped work.

Downloading from https://ndownloader.figshare.com/files/10960175
[code]

[2020-03-26 02:25] lwasser commented on #510
closed via #509

[2020-03-26 02:25] #510 closed

[2020-03-26 02:25] lwasser commented on #480
we have tested this and all is working as expected. closing

[2020-03-26 02:25] #480 closed

[2020-03-26 02:27] lwasser commented on #512
implemented via #513

[2020-03-26 02:27] #512 closed

[2020-03-26 14:33] lwasser opened #518 "RTD erroring"
Right now RTD when it builds is automatically erroring when it tries to resolve the conda envt to support documentation. A few options to tr
1. remove the conda envt and build via pip (this is actually working now)
2. pin everything to reduce how much it needs to resolve. it still seems to fail with man deps pinned and this is really challenging to maintain.

Right now it seems like the docs are b

[2020-03-26 14:54] lwasser opened #519 "Add flake8 to earthpy"
flake 8 is nice as it catches long lines and unused imports in addition to tests that may be duplicated etc. let's follow matplotcheck and add flake8 here to clean up the package!

[2020-03-26 21:02] lwasser commented on #519
closing via #520

[2020-03-26 21:02] #519 closed

[2020-03-26 21:03] lwasser commented on #518
this has been fixed via #517

[2020-03-26 21:03] #518 closed

[2020-03-26 22:03] lwasser commented on #507
ok @rlzijdeman we actually had an open task of deprecating the functions that require rtree which was causing this failure via pip. rtree doesn't install nicely with pip. i just released a new version that has these changes and it should install properly with pip. please git it a try. we are testing it on our end now as well.

[2020-03-26 22:04] lwasser commented on #507
@mbjoseph @nkorinek if you do have a chance to test, can you kindly reply here if it seems to work for you in a fresh envt?

[2020-03-26 22:10] nkorinek commented on #507
@lwasser can do! Works for me installing it on a clean `conda` environment on Ubuntu.

[2020-03-26 22:16] lwasser commented on #507
thank you so much @nkorinek it looks like we have 3 successful installs on MAC and LINUX!!

[2020-03-30 08:03] rlzijdeman commented on #507
Dear @lwasser,

Sorry for the delay in response. I wouldn't have been able to provide the conda info, as I don't have it installed. I am running both Python2 and Python3 (which may link to your suspicion of it being a Python 2 related error).

Anyway, the more important 'news' is that because of your fast and efficient handling, you can now add another successful install on MAC!!! Thank you very m

[2020-03-30 08:03] #507 closed

[2020-03-30 22:41] lwasser commented on #507
awesome @rlzijdeman so glad it worked for you!!!

[2020-03-31 23:50] nkorinek commented on #487
Fixed here #523 once merged. Also, I think you left the default bug template in this issue on accident @lwasser !

[2020-04-01 22:44] nkorinek commented on #493
This issue was confusing me, so I made a gist to describe why I am confused, here: https://gist.github.com/nkorinek/655d590da99b5f26dca8b02208599aea. @lwasser let me know if the gist makes sense? I'll put in the fix suggested if you give the go ahead

[2020-04-02 16:50] lwasser opened #524 "Let's reorganize the stack vignette"
Essentially this vignette is a single overview of stack and crop_image.
It's missing a clean description of stack and how stack works with the parameter options.
It's also missing crop_all.

We should decide whether to have 2 vignettes - or just organize this one to show all three functions:
- [ ] crop_image
- [ ] crop_all
- [ ] stack

https://earthpy.readthedocs.io/en/latest/gallery_vignettes/plo

[2020-04-02 16:50] lwasser commented on #493
please go ahead and implement this fix!

[2020-04-08 20:30] lwasser opened #527 "remove M2R as dep"
M2r converts markdown to rst. however it's currently unmaintained and there is a bug related to the new version of sphinx. we only use it to convert our changelog to print in the docs. One quick fix would be to simply link to the changelog in the release notes rst file. We could then completely drop m2r. an alternative is to convert the changelog to .rst and the readme which could work but would t

[2020-04-08 21:03] mbjoseph commented on #527
@lwasser it's been a while since I've done much with spnix, but is there a third option to use recommonmark with Sphinx? https://www.sphinx-doc.org/en/master/usage/markdown.html

[2020-04-08 23:48] lwasser commented on #527
hey @mbjoseph yes matthew had mentioned this here: https://github.com/sphinx-doc/sphinx/issues/7420#issuecomment-610156586 he just seemed to think it was not a complete solution but i saw this without actually trying anything. they are moving towards .rst readmes and such but i'm really open to that extension if it serves our needs. i guess we would need to just try it out.

[2020-04-09 14:55] mbjoseph commented on #527
Ok I futzed around with this a bit this morning. It doesn't seem like recommonmark is going to be a simple solution.

Of the two options you laid out, I think option #2 seems like the simplest approach.

[2020-04-09 15:00] mbjoseph commented on #527
Does linking to the files on GitHub sound like a good way forward @lwasser?

[2020-04-09 15:36] lwasser commented on #527
@mbjoseph i'm fine with just linking to files. thank you so much for playing with this. i  just haven't had time. we could d this on all of our packages too and just forgo includes for .md files

[2020-04-24 03:19] bmcandr commented on #483
Hey there, I took a crack at making the suggested changes. Two quick questions:

1. Is "a [rasterio] dataset object opened in 'r' mode" specific enough (follows [rasterio naming conventions](https://github.com/mapbox/rasterio/blob/master/rasterio/mask.py) -- see line 36)? Or would you prefer `rasterio.io.DatasetReader` which is the object type returned by a call to `rasterio.open()`?

2. Removing

[2020-04-24 20:52] lwasser commented on #527
@nkorinek didn't you implement this? i just can't find the PR to close it :)

[2020-04-24 20:56] lwasser commented on #483
hey @bmcandr  👋 👋  !! welcome to earthpy. And thank you for responding to this issue.

to answer your questions.
1. lets use `rasterio.io.DatasetReader` so it's very clear what object is required for the crop function!
2. i *think* you can get the shape  of the original raster by using `raster.shape`
[code]
i just tested this and it seemed ok. So... whaht about we change raster to `src_raster`
[co

[2020-04-25 05:51] bmcandr commented on #483
You're welcome! Glad to contribute.

I tested your suggestion and it seems the `shape` attribute of a `rasterio.io.DatasetReader` doesn't include the band count:
[code]

It might be necessary to read `src_raster` into a numpy array for the shape comparison. Feel free to double check though!

[2020-04-27 15:25] lwasser commented on #527
ok it's definitely not been implemented as pr's are failing. @nkorinek let's deprecate m2r in this project as well!!

[2020-04-29 11:08] beammieb opened #537 "ModuleNotFoundError: No module named 'earthpy'"
Hi there, i have looked everywhere for a solution before coming here:

When I try to import earthpy on jupyter, it tells me **ModuleNotFoundError: No module named 'earthpy'**

I am trying to import earthpy and use et.io.HOME to get directory path as described in this course: https://www.earthdatascience.org/courses/intro-to-earth-data-science/python-code-fundamentals/work-with-files-directories-pa